﻿@{
    ViewBag.Title = "Add";
}
@model ClientSite.Models.UserModel
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Thêm mới user</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    @if (Model.SuccessMessage != null && Model.SuccessMessage != "")
                    {
                        <div class="col-md-12" style="background-color:#188933; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; color: #fff;">
                            @Model.SuccessMessage
                        </div>
                    }
                    @if (Model.ErrorMessage != null && Model.ErrorMessage != "")
                    {
                        <div class="col-md-12" style="background-color:#ff0000; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; color: #fff;">
                            @Model.ErrorMessage
                        </div>
                    }
                    <form id="form4" role="form" parsley-validate="" class="icon-validation" method="post">
                        <div class="form-group">
                            <label class="control-label">Họ & Tên</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.FullName, new { @class="form-control parsley-validated parsley-error", required="" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Điện thoại</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control parsley-validated parsley-error", required = "" })
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-danger" onclick="javascript:$('#form4').parsley('validate');">Thêm</button>
                            <button type="reset" class="btn btn-default">Làm mới</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
