﻿@model CaiThuocLa.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}

<div class="col-md-12">
    @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
    {
        <div class="col-md-12" style="background-color: #18330c; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; color: #fff;">
            @ViewBag.SuccessMessage
        </div>
    }
    @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
    {
        <div class="col-md-12" style="background-color:#ff0000;padding-top:5px;padding-bottom:5px;margin-bottom:10px;color:#fff;">
            @ViewBag.ErrorMessage
        </div>
    }
    <div class="panel panel-default">
        <div class="panel-heading bg-red">
            <h3 class="panel-title"><strong>Đổi mật khẩu</strong></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="form4" role="form" parsley-validate class="icon-validation" method="post">
                        <div class="form-group">
                            <label class="control-label">Mật khẩu hiện tại</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control" })
                                <span style="color:red;">@Html.ValidationMessageFor(model => model.CurrentPassword)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mật khẩu mới</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                                <span style="color:red;">@Html.ValidationMessageFor(model => model.NewPassword)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Nhập lại mật khẩu mới</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
                                <span style="color:red;">@Html.ValidationMessageFor(model => model.ConfirmNewPassword)</span>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-danger" onclick="javascript:$('#form4').parsley('validate');">Cập nhật</button>
                            <a href="/Mo/List" type="reset" class="btn btn-default">Quay về</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/suggesst.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
