﻿@model ClientSite.Models.AccountModel

@{
    Layout = "";
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js sidebar-large">
<!--<![endif]-->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <!-- BEGIN META SECTION -->
    <meta charset="utf-8">
    <title>Liên Á | Quên mật khẩu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <!-- END META SECTION -->
    <!-- BEGIN MANDATORY STYLE -->
    <link href="/Content/themes/liena/css/icons/icons.min.css" rel="stylesheet">
    <link href="/Content/themes/liena/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/themes/liena/css/plugins.min.css" rel="stylesheet">
    <link href="/Content/themes/liena/css/style.min.css" rel="stylesheet">
    <!-- END  MANDATORY STYLE -->
    <!-- BEGIN PAGE LEVEL STYLE -->
    <link href="/Content/themes/liena/css/animate-custom.css" rel="stylesheet">
    <!-- END PAGE LEVEL STYLE -->
    <script src="/Content/themes/liena/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body class="login fade-in" data-page="login">
    <!-- BEGIN LOGIN BOX -->
    <div class="container" id="login-block">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
                <div class="login-box clearfix animated flipInY">
                    <div class="page-icon animated bounceInDown">
                        <img src="/Content/themes/liena/img/account/user-icon.png" alt="Key icon">
                    </div>
                    <div class="login-logo">
                        <a href="/Home" style="font-size:36pt;font-weight:bold;font-family:Arial;">
                            LIÊN Á
                        </a>
                    </div>
                    <hr>
                    <div class="login-form" style="text-align: center">
                        <!-- BEGIN ERROR BOX -->
                        <div class="alert alert-danger hide">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <h4>Error!</h4>
                            Your Error Message goes here
                        </div>
                        @if (ViewBag.Message == null)
                        {
                            <form action="/Account/Forgot" method="get">
                                <p>Enter your email address below and we'll send a special reset password link to your inbox.</p>
                                <input type="email" name="Email" placeholder="Email" class="input-field" required="">
                                <button type="submit" class="btn btn-login btn-reset">Reset password</button>
                            </form>
                        }
                        else
                        {
                            @ViewBag.Message
                            <div class="login-links">
                                <a class="btn btn-login btn-reset" href="/Account/Login">Login</a>
                            
                            </div>
                        }
                    </div>
                </div>
                <div class="social-login row">
                    <div class="fb-login col-lg-6 col-md-12 animated flipInX">
                        <a href="http://fibo.vn" class="btn btn-facebook btn-block"><strong>Fibo</strong></a>
                    </div>
                    <div class="twit-login col-lg-6 col-md-12 animated flipInX">
                        <a href="http://liena.vn" class="btn btn-twitter btn-block"><strong>Liên Á</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END LOCKSCREEN BOX -->
    <!-- BEGIN MANDATORY SCRIPTS -->
    <script src="/Content/themes/liena/plugins/jquery-1.11.js"></script>
    <script src="/Content/themes/liena/plugins/jquery-migrate-1.2.1.js"></script>
    <script src="/Content/themes/liena/plugins/jquery-ui/jquery-ui-1.10.4.min.js"></script>
    <script src="/Content/themes/liena/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- END MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/Content/themes/liena/plugins/backstretch/backstretch.min.js"></script>
    <script src="/Content/themes/liena/js/account.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
</body>
</html>