﻿@model CaiThuocLa.Models.AccountModel
@{
    Layout = "";
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js sidebar-large">
 <!--<![endif]-->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
@*<link rel="shortcut icon" href="/Content/themes/Intel/img/favicon.ico" type="image/x-icon" />*@
<head>
    <!-- BEGIN META SECTION -->
    <meta charset="utf-8">
    <title>Vquit | Đăng nhập</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <!-- END META SECTION -->
    <!-- BEGIN MANDATORY STYLE -->
    <link href="/Content/themes/Intel/css/icons/icons.min.css" rel="stylesheet">
    <link href="/Content/themes/Intel/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/themes/Intel/css/plugins.min.css" rel="stylesheet">
    <link href="/Content/themes/Intel/css/style.min.css" rel="stylesheet">
    <!-- END  MANDATORY STYLE -->
    <!-- BEGIN PAGE LEVEL STYLE -->
    <link href="/Content/themes/Intel/css/animate-custom.css" rel="stylesheet">
    <!-- END PAGE LEVEL STYLE -->
    <script src="/Content/themes/Intel/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body class="login fade-in" data-page="login" style="margin-top:0px;">
    <!-- BEGIN LOGIN BOX -->
    <div class="container" id="login-block" style="padding-top:0px;">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
                <div class="login-box clearfix animated flipInY" style="background: #051B34">
                    <div class="page-icon animated bounceInDown">
                        <img src="/Content/themes/Intel/img/account/user-icon.png" alt="Key icon">
                    </div>
                    <div class="login-logo">
                        <a href="/Home" style="font-size:36pt;font-weight:bold;font-family:Arial;">
                            <img src="~/Content/themes/Intel/img/logo_login2.png" style="width:150px;" />
                        </a>
                    </div>
                    <hr>
                    <div class="login-form">
                        <!-- BEGIN ERROR BOX -->
                        <div class="alert alert-danger hide">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <h4>Thông báo!</h4>
                            Không tìm thấy trang bạn yêu cầu
                        </div>
                        <!-- END ERROR BOX -->
                        <form action="" method="post">
                            @Html.TextBoxFor(m => m.UserName, new { placeholder="Tên đăng nhập" , @class="input-field form-control user" })
                            @Html.ValidationMessageFor(m => m.UserName)
                            @Html.PasswordFor(m => m.PassWord, new { placeholder = "Mật khẩu", @class = "input-field form-control password" })
                            @Html.ValidationMessageFor(m => m.PassWord)
                            <button type="submit" class="btn btn-login" style="width:140px;">Đăng nhập</button>
                        </form>
                        <div class="login-links">
                            <a href="/Account/Forgot">Bạn quên mật khẩu?</a>
                            <br>
                            <a href="#contact">Không đăng nhập được liên tục. Vui lòng liên hệ : <b>(08) 7303 7399</b> để được hổ trợ</a>
                        </div>
                    </div>
                </div>
                @*<div class="social-login row">
                    <div class="fb-login col-lg-6 col-md-12 animated flipInX">
                        <a href="http://admin.fibosms.com" class="btn btn-facebook btn-block"><strong>Fibo</strong></a>
                    </div>
                    <div class="twit-login col-lg-6 col-md-12 animated flipInX">
                        <a href="http://Intel.com" class="btn btn-twitter btn-block"><strong>Intel</strong></a>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <!-- END LOCKSCREEN BOX -->
    <!-- BEGIN MANDATORY SCRIPTS -->
    <script src="/Content/themes/Intel/plugins/jquery-1.11.js"></script>
    <script src="/Content/themes/Intel/plugins/jquery-migrate-1.2.1.js"></script>
    <script src="/Content/themes/Intel/plugins/jquery-ui/jquery-ui-1.10.4.min.js"></script>
    <script src="/Content/themes/Intel/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- END MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/Content/themes/Intel/plugins/backstretch/backstretch.min.js"></script>
    <script src="/Content/themes/Intel/js/account.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
</body>
</html>