﻿@{
    Layout = "";
    CaiThuocLa.DTO.Account accLogin = (CaiThuocLa.DTO.Account)ViewBag.AccountLogin;
}

<li class="dropdown" id="user-header">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <img src="/Content/themes/Intel/img/avatars/avatar2.png" alt="user avatar" width="30" class="p-r-5">
        <span class="username" style="color:#fff;">@accLogin.LoginName</span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="#">
                <i class="glyph-icon flaticon-account"></i> Thông tin cá nhân
            </a>
        </li>
        <li>
            <a href="/Account/ChangePassword">
                <i class="glyph-icon flaticon-calendar"></i> Đổi mật khẩu
            </a>
        </li>

        <li class="dropdown-footer clearfix">
            <a href="javascript:;" class="toggle_fullscreen" title="Chế độ toàn màn hình" style="width:48%;">
                <i class="glyph-icon flaticon-fullscreen3"></i>
            </a>
            <a href="/Account/Logout" title="Đăng xuất" style="width:48%;">
                <i class="glyph-icon flaticon-padlock23"></i>
            </a>
        </li>
    </ul>
</li>
