﻿@using Katri.App_Code;

@{
    ViewBag.Title = "Import Card";
    Layout = "";
    string chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="form4" role="form" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="control-label">Chọn File</label>
                            <div class="input-icon right">
                                <input type="file" class="form-control" name="importFile" id="importFile" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Vị trí Sheet (Bắt đầu từ: 0)</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input list="listSheetIndex" type="text" class="form-control" name="sheetIndex" id="sheetIndex" value="0" />
                                <datalist id="listSheetIndex">
                                    @for (int i = 0; i <= 10; i++)
                                    {
                                        <option value="@i">Sheet@(i + 1)</option>
                                    }
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Dòng đầu tiên là tên cột?</label>
                            <div class="input-icon right">
                                <input type="checkbox" name="header" id="header" onchange="this.value = $(this).prop('checked');" value="false" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mã thẻ</label>
                            <div class="input-icon right">
                                <input type="text" list="liCardNo" class="form-control" name="iCardNo" id="iCardNo" value="A" />
                                <datalist id="liCardNo">
                                    @for (int i = 0; i < chars.Length; i++)
                                    {
                                        <option value="@chars[i]" />
                                    }
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tên bệnh nhân</label>
                            <div class="input-icon right">
                                <input type="text" list="liCardName" class="form-control" name="iCardName" id="iCardName" value="B" />
                                <datalist id="liCardName">
                                    @for (int i = 0; i < chars.Length; i++)
                                    {
                                        <option value="@chars[i]" />
                                    }
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Loại phục hình</label>
                            <div class="input-icon right">
                                <input type="text" list="liServiceType" class="form-control" name="iServiceType" id="iServiceType" value="C" />
                                <datalist id="liServiceType">
                                    @for (int i = 0; i < chars.Length; i++)
                                    {
                                        <option value="@chars[i]" />
                                    }
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Nha sĩ</label>
                            <div class="input-icon right">
                                <input type="text" list="liDoctor" class="form-control" name="iDoctor" id="iDoctor" value="D" />
                                <datalist id="liDoctor">
                                    @for (int i = 0; i < chars.Length; i++)
                                    {
                                        <option value="@chars[i]" />
                                    }
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Hạn bảo hành</label>
                            <div class="input-icon right">
                                <input type="text" list="liValid" class="form-control" name="iValid" id="iValid" value="E" />
                                <datalist id="liValid">
                                    @for (int i = 0; i < chars.Length; i++)
                                    {
                                        <option value="@chars[i]" />
                                    }
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Số răng</label>
                            <div class="input-icon right">
                                <input type="text" list="liToothPosition" class="form-control" name="iToothPosition" id="iToothPosition" value="F" />
                                <datalist id="liToothPosition">
                                    @for (int i = 0; i < chars.Length; i++)
                                    {
                                        <option value="@chars[i]" />
                                    }
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Số lượng răng</label>
                            <div class="input-icon right">
                                <input type="text" list="liToothAmount" class="form-control" name="iToothAmount" id="iToothAmount" value="G" />
                                <datalist id="liToothAmount">
                                    @for (int i = 0; i < chars.Length; i++)
                                    {
                                        <option value="@chars[i]" />
                                    }
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <input id="btnImport" type="submit" class="btn btn-primary form-control" value="Thêm" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        function onprogressHandler(evt) {
            var percent = evt.loaded / evt.total * 100;
            console.log('Upload progress: ' + percent + '%');
        }

        $("#form4").submit(function (event) {

            event.preventDefault();
            $.fancybox.close();

            var formData = new FormData($('#form4')[0]);

            $.ajax({
                url: '/Card/ImportFile',  //Server script to process data
                type: 'POST',
                xhr: function () {  // Custom XMLHttpRequest
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) { // Check if upload property exists
                        myXhr.upload.addEventListener('progress',
                        onprogressHandler, false); // For handling the progress of the upload
                    }
                    return myXhr;
                },
                data: formData,
                //Options to tell jQuery not to process data or worry about content-type.
                cache: false,
                contentType: false,
                processData: false,
                error: function(){
                        $.fancybox.hideLoading();
                        ShowMesage({ "Result": false, "Message": "Không kết nối Server" });
                    }
            }).done(function (data) {
                ShowMesage(data);
                ReDrawDataTable();

                if (!data.Result && data.Message != 'Lỗi không thể Import được')
                    window.open("/Card/ShowImportError", "_blank");
            });

            $.fancybox.showLoading();
            ShowMesage(null);
        });
    });
</script>