﻿@using CaiThuocLa.Code
@using CaiThuocLa.Utility

@{
    Layout = "";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    @if (Model != null)
                    {
                        <h4 class="col-md-12" style="margin:0px; padding:0px; margin-bottom:10px; text-align:center;">Nội dung câu hỏi</h4>
                        <div class="col-md-12" style="text-align:center;">@Model.Message</div>
                    }
                    else
                    {
                        <div class="col-md-12" style="text-align:center;">Lỗi ID tin nhắn</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
