﻿@model List<CaiThuocLa.DTO.SMS>
@{
    Layout = "";
}
<link href="/Content/dataTables.responsive.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables_themeroller.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.js"></script>

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <table id="example" class="display responsive" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th style="text-align:center;">ID</th>
                                <th style="text-align:center;">Nội dung</th>
                                <th style="text-align:center;">Thư viện</th>
                                <th style="text-align:center;">Chức năng</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var i in Model)
                            {
                                <tr>
                                    <td style="text-align:center;">@i.ID</td>
                                    <td style="text-align:center;">@i.Message</td>
                                    <td style="text-align:center;">@i.ExtentionProperty["LibraryName"]</td>
                                    <td style="text-align:center;">
                                        <form action="/SmsInteract/UpdateSmsID?SmsInteractID=@ViewBag.SmsInteractID&Smsid=@i.ID" method="post">
                                            <button class="btn btn-danger" type="submit">Chọn</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/Scripts/jquery.dataTables.js"></script>
<script src="/Scripts/dataTables.responsive.js"></script>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            responsive: true,
            "language":{
                "paginate": {
                    "first": "<<",
                    "last": ">>",
                    "next": ">",
                    "previous": "<"
                },
                "search": "Tìm kiếm",
                "lengthMenu": "Hiển thị _MENU_ dòng",
                "info": "Dòng _START_ đến dòng _END_ , Tổng cộng _TOTAL_ SMS",
            },
            "autoWidth": true
        });
    });
</script>
