﻿@{
    Layout = "";
}
@using CaiThuocLa.Code
@model CaiThuocLa.Models.SMSModel

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="form4" role="form" parsley-validate="" class="icon-validation" method="post" action="/SMS/Add">
                        <div class="form-group">
                            <label class="control-label">Nội dung tin nhắn </label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.Message, new { @class = "form-control", style = "width:500px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Thư viện</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.DropDownList("LibraryID", (SelectList)ViewBag.LibraryList, new { @class = "form-control" })
                            </div>
                        </div>
      
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-danger" @*onclick="javascript:$('#form4').parsley('validate');"*@>Thêm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
