﻿@{
    Layout = "";
}
@using CaiThuocLa.Code
@model CaiThuocLa.Models.SMSModel

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="form4" role="form" action="/SMS/Edit" method="post">
                        <div class="form-group">
                            <label class="control-label">Nội dung tin nhắn</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.Message, new { @class = "form-control", style = "width:500px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Thư viện</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.DropDownList("LibraryID", (SelectList)ViewBag.LibraryList, Model.LibraryID.ToString(), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Trạng thái tin nhắn</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.EnumDropDownListFor(model => model.SMSStatus, null, "", new { @class = "form-control" })
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.ID)
                        <div class="form-group text-center">
                            <button class="btn btn-danger" onclick="javascript:$('#form4').parsley('validate');">Cập nhật</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
