﻿@using CaiThuocLa.Code
@using CaiThuocLa.Utility
@model CaiThuocLa.Models.SMSModel
@{

    var exportUrl = "/SMS/ProcessExport/?" + Request.QueryString;
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading bg-red">
                <h3 class="panel-title"><strong>Tin nhắn</strong></h3>
            </div>
            <div class="panel-body modal-panel">
                <div class="row">
                    <div class="col-md-12">
                        @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
                        {
                            <div class="col-md-12" style="background-color:#18330c; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; color: #fff;">
                                @ViewBag.SuccessMessage
                            </div>
                        }
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Tìm kiếm</strong></h3>
                            </div>
                            <div class="panel-body" style="padding-top:10px;padding-bottom:10px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form id="form4" role="form" class="icon-validation" method="post" action="">
                                            <div class="form-group">
                                                <label class="control-label">Nội dung tin nhắn</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.TextBoxFor(model => model.Message, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Thư viện</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.DropDownList("LibraryID", (SelectList)ViewBag.LibraryList, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Trạng thái tin nhắn</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @{
                                                        Dictionary<string, string> addAllSMSStatus = new Dictionary<string, string>();
                                                        addAllSMSStatus.Add("Tất cả", 0.ToString());
                                                    }
                                                    @Html.EnumDropDownListFor(model => model.SMSStatus, addAllSMSStatus, "", new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group text-center">
                                                <button type="submit" class="btn btn-danger" @*onclick="javascript:$('#form4').parsley('validate');"*@>Tìm kiếm</button>
                                                <button type="reset" class="btn btn-default">Làm mới</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        @*<a href="/SMS/SmsImport" class="btn btn-danger fancybox fancybox.ajax">Nhập từ file</a>&nbsp;*@
                        <a href="/SMS/Add" class="btn btn-danger fancybox fancybox.ajax">Nhập</a>
                        @Html.Partial("~/Views/Shared/Pager.cshtml", Model.Page)<br /><br />
                        <table class="table table-striped table-hover dataTable">
                            <thead>
                                <tr role="row">
                                    <th style="text-align:center;">STT</th>
                                    <th style="text-align:center;">Nội dung tin nhắn</th>
                                    <th style="text-align:center;">Thư viện</th>
                                    <th style="text-align:center;">Trạng thái</th>
                                    <th style="text-align:center;">Người tạo</th>
                                    @*<th style="text-align:center;">Người sửa</th>
                                    <th style="text-align:center;">Ngày tạo</th>
                                    <th style="text-align:center;">Ngày sửa</th>*@
                                    <th style="text-align:center;">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.DataList != null && Model.DataList.Count() > 0)
                                {
                                    foreach (CaiThuocLa.DTO.SMS sms in Model.DataList)
                                    {
                                        string smsStatusName = ((SMSStatus_vi_VN)sms.SMSStatus).ToString();
                                        <tr>
                                            <td style="text-align:center;">@sms.ExtentionProperty["RowNum"]</td>
                                            <td style="text-align:center;">@sms.Message</td>
                                            <td style="text-align:center;">@sms.ExtentionProperty["LibraryName"]</td>
                                            <td style="text-align:center;">@CaiThuocLa.Utility.GFunction.EnumDisplay(typeof(CaiThuocLa.Utility.SMSStatus_vi_VN).FullName, sms.SMSStatus, "vi_VN")</td>
                                            <td style="text-align:center;">@sms.ExtentionProperty["CreatedBy"]</td>
                                            @*<td style="text-align:center;">@sms.ExtentionProperty["UpdateBy"]</td>
                                            <td style="text-align:center;">@String.Format("{0:dd/MM/yyyy HH:mm:ss}", sms.CreatedDate)</td>
                                            <td style="text-align:center;">@String.Format("{0:dd/MM/yyyy HH:mm:ss}", sms.UpdatedDate)</td>*@
                                            <td style="text-align:center;">
                                                <a class="fancybox fancybox.ajax" href="/SMS/Edit/?smsid=@sms.ID" title="Chỉnh sửa" style="background:#57BEC7;padding:5px;"> <i class="glyphicon glyphicon-pencil"></i></a>&nbsp;
                                                <a href="/SMS/Delete/?smsid= @sms.ID" title="Xóa" style="background:#57BEC7;padding:5px;" onclick="return confirm('Bạn có chắc sẽ xóa dữ liệu này?');"><i class="glyphicon glyphicon-remove-sign"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        @Html.Partial("~/Views/Shared/Pager.cshtml", Model.Page)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>