﻿@{
    Layout = "";
}
@using CaiThuocLa.Code
@model CaiThuocLa.Models.SmsImportViewModel

<div class="col-md-12" style="width:500px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="form4" role="form" action="/Sms/Import" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="control-label">Chọn thư viện</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.DropDownList("LibraryID", (SelectList)ViewBag.LibraryList, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Chọn sheet</label>
                            <div class="input-icon right">
                                @Html.EnumDropDownListFor(model => model.ExcelSheetAt, null, "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Nội dung tin nhắn </label>
                            <div class="input-icon right">
                                @Html.EnumDropDownListFor(model => model.ExcelColunmMessage, null, "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Thời gian gửi (Đơn vị là giờ) </label>
                            <div class="input-icon right">
                                @Html.EnumDropDownListFor(model => model.ExcelColunmSendingTime, null, "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Thời gian gửi (Đơn vị là giờ) </label>
                            <div class="input-icon right">
                                @Html.EnumDropDownListFor(model => model.ExcelColunmSendingTime, null, "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <input type="file" name="fileImport" id="fileImport" /> <br />
                            <label class="control-label" style="color:#ff0000;">Lưu ý : File có định dạng Excel 97 - 2003 (*.xls)</label><br />
                            <button class="btn btn-danger" onclick="javascript:$('#form4').parsley('validate');">Nhập</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>