﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js sidebar-large">
 <!--<![endif]-->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
@*<link rel="shortcut icon" href="/Content/themes/Intel/img/favicon.ico" type="image/x-icon" />*@
<head>
    <!-- BEGIN META SECTION -->
    <meta charset="utf-8">
    <title>Vquit | SMS Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <!-- END META SECTION -->
    <!-- BEGIN MANDATORY STYLE -->
    <link href="/Content/themes/Intel/css/icons/icons.min.css" rel="stylesheet">
    <link href="/Content/themes/Intel/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/themes/Intel/css/plugins.min.css" rel="stylesheet">
    <link href="/Content/themes/Intel/css/style.min.css" rel="stylesheet">
    <!-- END  MANDATORY STYLE -->
    <!-- BEGIN PAGE LEVEL STYLE -->
    <link rel="stylesheet" href="/Content/themes/Intel/plugins/datatables/dataTables.css">
    <link rel="stylesheet" href="/Content/themes/Intel/plugins/datatables/dataTables.tableTools.css">
    <!-- END PAGE LEVEL STYLE -->
    <link href="/Content/themes/Intel/plugins/modal/css/component.css" rel="stylesheet">
    <!-- END PAGE LEVEL STYLE -->
    <script src="/Content/themes/Intel/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    
    <script type="text/javascript" src="/Content/themes/fancybox/lib/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/Content/themes/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="/Content/themes/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
    
    <link href="/Content/themes/datetimepicker/jquery-ui.css" rel="stylesheet">
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('.fancybox').fancybox();
        });
    </script>

</head>
<body data-page="tables_editable">
    <!-- BEGIN TOP MENU -->
    @Html.Partial("~/Views/Shared/_Navigation.cshtml")
    <!-- END TOP MENU -->
    <!-- BEGIN WRAPPER -->
    <div id="wrapper">
        <!-- BEGIN MAIN SIDEBAR -->
        @Html.Partial("~/Views/Shared/_Sidebar.cshtml")
        <!-- END MAIN SIDEBAR -->
        <!-- BEGIN MAIN CONTENT -->
        <div id="main-content">
            @RenderBody()
            
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END WRAPPER -->
        
        <!-- BEGIN MANDATORY SCRIPTS -->
        <script src="/Content/themes/highcharts/js/highcharts.js"></script>
        <script src="/Content/themes/highcharts/js/modules/exporting.js"></script>
        <script src="/Content/themes/datetimepicker/jquery-ui.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#FromDate").datepicker({ dateFormat: 'dd-mm-yy' });
                $("#ToDate").datepicker({ dateFormat: 'dd-mm-yy' });
            });
        </script>
        
        <script src="/Content/themes/Intel/plugins/jquery-migrate-1.2.1.js"></script>
        <script src="/Content/themes/Intel/plugins/jquery-ui/jquery-ui-1.10.4.min.js"></script>
        <script src="/Content/themes/Intel/plugins/bootstrap/bootstrap.min.js"></script>
        <script src="/Content/themes/Intel/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script>
        <script src="/Content/themes/Intel/plugins/bootstrap-select/bootstrap-select.js"></script>
        <script src="/Content/themes/Intel/plugins/icheck/icheck.js"></script>
        <script src="/Content/themes/Intel/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/Content/themes/Intel/plugins/mmenu/js/jquery.mmenu.min.all.js"></script>
        <script src="/Content/themes/Intel/plugins/nprogress/nprogress.js"></script>
        <script src="/Content/themes/Intel/plugins/charts-sparkline/sparkline.min.js"></script>
        <script src="/Content/themes/Intel/plugins/breakpoints/breakpoints.js"></script>
        <script src="/Content/themes/Intel/plugins/numerator/jquery-numerator.js"></script>
        <!-- END MANDATORY SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/Content/themes/Intel/plugins/bootstrap-switch/bootstrap-switch.js"></script>
        <script src="/Content/themes/Intel/plugins/bootstrap-progressbar/bootstrap-progressbar.js"></script>
        <script src="/Content/themes/Intel/plugins/datatables/dynamic/jquery.dataTables.min.js"></script>
        <script src="/Content/themes/Intel/plugins/datatables/dataTables.bootstrap.js"></script>
        <script src="/Content/themes/Intel/plugins/datatables/dataTables.tableTools.js"></script>
        <script src="/Content/themes/Intel/js/table_editable.js"></script>
        @RenderSection("scripts", required: false)
      </div> 
</body>
</html>
