﻿@{
    Layout = "";
}
@using CaiThuocLa.Code
@model CaiThuocLa.Models.PatientModel

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="form4" role="form" action="/Patient/Add" method="post">
                        <div class="form-group">
                            <label class="control-label">Họ & Tên</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.PatientName, new { @class = "form-control", style = "width:500px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Điện thoại</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", style = "width:500px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tuổi</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.Age, new { @class = "form-control", style = "width:500px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Thư viện</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.DropDownList("LibraryID", (SelectList)ViewBag.LibraryList, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Môi trường</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @{
                                    Dictionary<string, string> addAllEnvironment = new Dictionary<string, string>();
                                    addAllEnvironment.Add("- Chưa xác định -", 0.ToString());
                                }
                                @Html.EnumDropDownListFor(model => model.Environment, addAllEnvironment, "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mức độ nghiện</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @{
                                    Dictionary<string, string> addAddictionLevel = new Dictionary<string, string>();
                                    addAddictionLevel.Add("- Chưa xác định -", 0.ToString());
                                }
                                @Html.EnumDropDownListFor(model => model.AddictionLevel, addAddictionLevel, "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Ngày bắt đầu nhận tin nhắn</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.TextBoxFor(model => model.StartDate, new { id = "StartDate", @class = "form-control col-md-12" })
                            </div>
                        </div>
                        <div class="form-group">
                            &nbsp;
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-danger" onclick="javascript:$('#form4').parsley('validate');">Thêm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#StartDate").datepicker({ dateFormat: 'dd-mm-yy' });
    });
</script>