﻿@{
    Layout = "";
}
@using CaiThuocLa.Code
@model CaiThuocLa.Models.PatientModel

<div class="col-md-12" style="width:500px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="form4" role="form" action="/Patient/ChangeLibrary" method="post">
                        <div class="form-group">
                            <label class="control-label" style="color:#ff0000;font-weight:bold;font-style:italic;">Lưu ý : Khi bạn thay đổi thư viện của bệnh nhân. Lịch nhận tin nhắn của bệnh nhân cũng sẽ thay đổi theo thư viện mới.</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Thư viện</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.DropDownList("LibraryID", (SelectList)ViewBag.LibraryList, new { @class = "form-control" })
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.ID)
                        <div class="form-group text-center">
                            <button class="btn btn-danger" onclick="javascript:$('#form4').parsley('validate');">Cập nhật</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
