﻿@using CaiThuocLa.Code
@model CaiThuocLa.Models.PatientModel
@{
    
    var exportUrl = "/Patient/ProcessExport/?" + Request.QueryString;
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading bg-red">
                <h3 class="panel-title"><strong>Người cai nghiện</strong></h3>
            </div>
            <div class="panel-body modal-panel">
                <div class="row">
                    <div class="col-md-12">
                        @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
                        {
                            <div class="col-md-12" style="background-color:#5EBD33; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; color: #fff;">
                                @ViewBag.SuccessMessage
                            </div>
                        }
                        @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
                        {
                            <div class="col-md-12" style="background-color:#ff0000; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; color: #fff;">
                                @ViewBag.ErrorMessage
                            </div>
                        }
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Tìm kiếm</strong></h3>
                            </div>
                            <div class="panel-body" style="padding-top:10px;padding-bottom:10px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form id="form4" role="form" class="icon-validation" method="post">
                                            <div class="form-group">
                                                <label class="control-label">Họ & Tên</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.TextBoxFor(model => model.PatientName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Điện thoại</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Tuổi</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.TextBoxFor(model => model.Age, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Thư viện</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.DropDownList("LibraryID", (SelectList)ViewBag.LibraryList, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Môi trường</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @{
                                                        Dictionary<string, string> addAllEnvironment = new Dictionary<string, string>();
                                                        addAllEnvironment.Add("Tất cả", 0.ToString());
                                                    }
                                                    @Html.EnumDropDownListFor(model => model.Environment, addAllEnvironment, "", new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Mức độ nghiện</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @{
                                                        Dictionary<string, string> addAllAddictionLevel = new Dictionary<string, string>();
                                                        addAllAddictionLevel.Add("Tất cả", 0.ToString());
                                                    }
                                                    @Html.EnumDropDownListFor(model => model.AddictionLevel, addAllAddictionLevel,"vi_VN", new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group text-center">
                                                <button class="btn btn-danger" onclick="javascript:$('#form4').parsley('validate');">Tìm kiếm</button>
                                                <button type="reset" class="btn btn-default">Làm mới</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <a href="/Patient/PatientImport" class="btn btn-danger fancybox fancybox.ajax">Nhập từ file</a>&nbsp;
                        <a href="/Patient/Add" class="btn btn-danger fancybox fancybox.ajax">Nhập tay</a>
                        @Html.Partial("~/Views/Shared/Pager.cshtml", Model.Page)<br /><br />
                        <table class="table table-striped table-hover dataTable">
                            <thead>
                                <tr role="row">
                                    <th style="text-align:center;">STT</th>
                                    <th style="text-align:center;">Họ & tên</th>
                                    <th style="text-align:center;">Điện thoại</th>
                                    <th style="text-align:center;">Môi trường</th>
                                    <th style="text-align:center;">Thư viện</th>
                                    <th style="text-align:center;">Mức độ</th>
                                    @*<th style="text-align:center;">Người quản lý</th>*@
                                    <th style="text-align:center;">Ngày nhận tin</th>
                                    <th style="text-align:center;">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.DataList != null && Model.DataList.Count() > 0)
                                {
                                    foreach (CaiThuocLa.DTO.Patient patient in Model.DataList)
                                    {
                                        <tr>
                                            <td style="text-align:center;">@patient.ExtentionProperty["RowNum"]</td>
                                            <td style="text-align:center;">@patient.PatientName</td>
                                            <td style="text-align:center;">@patient.PhoneNumber</td>
                                            <td style="text-align:center;">
                                                @CaiThuocLa.Utility.GFunction.EnumDisplay(typeof(CaiThuocLa.Utility.Environment_vi_VN).FullName, patient.Environment, "vi_VN")
                                            </td>
                                            <td style="text-align:center;">@patient.ExtentionProperty["LibraryName"]</td>
                                            <td style="text-align:center;">@CaiThuocLa.Utility.GFunction.EnumDisplay(typeof(CaiThuocLa.Utility.AddictionLevel_vi_VN).FullName, patient.AddictionLevel, "vi_VN")</td>
                                            @*<td style="text-align:center;">@patient.ExtentionProperty["FullName"]</td>*@

                                            <td style="text-align:center;">
                                                @if (patient.StartDate <= new DateTime(1900,01,01))
                                                {
                                                    @("Chưa cập nhật")
                                                }
                                                else
                                                {
                                                    @String.Format("{0:dd/MM/yyyy HH:mm:ss}", patient.StartDate)
                                                }
                                            </td>
                                            <td style="text-align:center;">
                                                <a class="fancybox fancybox.ajax" href="/Patient/SetStartDate/?pid=@patient.ID" title="Chỉnh sửa ngày bắt đầu" style="background:#57BEC7;padding:5px;"> <i class="glyphicon glyphicon-time"></i></a>
                                                <a class="fancybox fancybox.ajax" href="/Patient/ChangeLibrary/?pid=@patient.ID" title="Chuyển đổi thư viện tin nhắn" style="background:#57BEC7;padding:5px;"> <i class="glyphicon glyphicon-retweet"></i></a>
                                                @if (patient.PatientStatus == CaiThuocLa.Utility.PatientStatus_vi_VN.Tạm_dừng_nhận_tin)
                                                {
                                                    <a  href="/Patient/ContinueReceveSMS/?pid=@patient.ID" title="Tiếp tục nhận tin" style="background:#57BEC7;padding:5px;"> <i class="glyphicon glyphicon-play"></i></a>
                                                }
                                                else
                                                {
                                                    <a href="/Patient/PauseReceveSMS/?pid=@patient.ID" title="Dừng nhận tin nhắn" style="background:#57BEC7;padding:5px;"> <i class="glyphicon glyphicon-pause"></i></a>
                                                }
                                                <a class="fancybox fancybox.ajax" href="/Patient/Edit/?pid=@patient.ID" title="Chỉnh sửa" style="background:#57BEC7;padding:5px;"> <i class="glyphicon glyphicon-pencil"></i></a>
                                                <a href="/patient/Delete/?pid= @patient.ID" title="Xóa" style="background:#57BEC7;padding:5px;" onclick="return confirm('Bạn có chắc sẽ xóa dữ liệu này?');"><i class="glyphicon glyphicon-remove-sign"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        @Html.Partial("~/Views/Shared/Pager.cshtml", Model.Page)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>