﻿@{
    Layout = "";
}
@using CaiThuocLa.Code
@model CaiThuocLa.Models.PatientImportViewModel

<div class="col-md-12" style="width:500px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="form4" role="form" action="/Patient/Import" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="control-label">Chọn thư viện</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.DropDownList("LibraryID", (SelectList)ViewBag.LibraryList, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Chọn sheet</label>
                            <div class="input-icon right">
                                @Html.EnumDropDownListFor(model => model.ExcelSheetAt, null, "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Chọn cột chứa họ tên </label>
                            <div class="input-icon right">
                                @Html.EnumDropDownListFor(model => model.ExcelColunmPatientName, null, "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Chọn cột chứa điện thoại</label>
                            <div class="input-icon right">
                                @Html.EnumDropDownListFor(model => model.ExcelColunmPhoneNumber, null, "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Chọn cột chứa tuổi</label>
                            <div class="input-icon right">
                                @Html.EnumDropDownListFor(model => model.ExcelColunmAge, null, "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Chọn cột chứa môi trường</label>
                            <div class="input-icon right">
                                @Html.EnumDropDownListFor(model => model.ExcelColunmEnvironment, null, "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Chọn cột chứa mức độ nghiện</label>
                            <div class="input-icon right">
                                @Html.EnumDropDownListFor(model => model.ExcelColunmAddictionLevel, null, "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Chọn cột chứa ngày bắt đầu cai nghiện</label>
                            <div class="input-icon right">
                                @Html.EnumDropDownListFor(model => model.ExcelColunmStartDate, null, "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <input type="file" name="fileImport" id="fileImport" /> <br />
                            <label class="control-label" style="color:#ff0000;">Lưu ý : File có định dạng Excel 97 - 2003 (*.xls)</label><br />
                            <button class="btn btn-danger" onclick="javascript:$('#form4').parsley('validate');">Nhập</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>