﻿@{
    Layout = "";
    CaiThuocLa.DTO.Patient patient = (CaiThuocLa.DTO.Patient)ViewBag.Patient;
}
@using CaiThuocLa.Code
@model CaiThuocLa.Models.PatientModel

<div class="col-md-12" style="width:500px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="form4" role="form" action="/Patient/UpdateStartDate" method="post">
                        <div class="form-group">
                            <label class="control-label" style="color:#ff6a00;font-weight:bold;font-size:18pt;font-style:italic;">Họ & tên : @patient.PatientName ( @patient.PhoneNumber )</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Ngày bắt đầu nhận tin nhắn</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.TextBoxFor(model => model.StartDate, new { id = "StartDate", @class = "form-control col-md-12" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.HiddenFor(model => model.ID)
                            &nbsp;
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-danger" onclick="javascript:$('#form4').parsley('validate');">Cập nhật</button>
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="color:#ff6a00;font-weight:bold;font-style:italic;">Lưu ý : Thao tác chỉ thực hiện 1 lần duy nhất với 1 bệnh nhân. Vui lòng kiểm tra kỹ trước khi thực hiện.</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#StartDate").datepicker({ dateFormat: 'dd-mm-yy' });
    });
</script>