﻿@using CaiThuocLa.Code
@model CaiThuocLa.Models.PatientReportModel

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

@{
    string titleChart = "Biểu đồ";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading bg-red">
                <h3 class="panel-title"><strong>Thống kê</strong></h3>
            </div>
            <div class="panel-body modal-panel">
                <div class="row">
                    <div class="col-md-12">
                        @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
                        {
                            <div class="col-md-12" style="background-color:#5EBD33; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; color: #fff;">
                                @ViewBag.SuccessMessage
                            </div>
                        }
                        @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
                        {
                            <div class="col-md-12" style="background-color:#ff0000; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; color: #fff;">
                                @ViewBag.ErrorMessage
                            </div>
                        }
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Tiêu chí thống kê</strong></h3>
                            </div>
                            <div class="panel-body" style="padding-top:10px;padding-bottom:10px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form id="form4" role="form" class="icon-validation" method="get">
                                            <div class="form-group">
                                                <label class="control-label">Chọn tiêu chí</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.EnumDropDownListFor(model => model.ReportType, null, "vi_VN", new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div style="width:49%;float:left;margin-right:1%;">
                                                    <label class="control-label">Từ ngày : </label>
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        @Html.TextBoxFor(model => model.FromDate, new { id = "FromDate", @class = "form-control col-md-12" })
                                                    </div>
                                                </div>
                                                <div style="width:50%;float:left;">
                                                    <label class="control-label">Đến ngày : </label>
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        @Html.TextBoxFor(model => model.ToDate, new { id = "ToDate", @class = "form-control col-md-12" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                &nbsp;
                                            </div>
                                            <div class="form-group text-center">
                                                <button class="btn btn-danger" onclick="javascript:$('#form4').parsley('validate');">Xem thống kê</button>
                                                <button type="reset" class="btn btn-default">Làm mới</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                        @if (Model.ReportType == CaiThuocLa.Utility.ReportType_vi_VN.Môi_trường_sống)
                                        {
                                            <table class="table table-striped table-hover dataTable">
                                                <thead>
                                                    <tr role="row">
                                                        <th style="text-align:center;">Đô thị : <a target="_blank" style="color:#ff6a00;font-weight:bold;font-style:italic;" href="/Patient/?Environment=@((int)CaiThuocLa.Utility.Environment_vi_VN.Đô_thị)">@Model.NumEnvironmentUrban người</a></th>
                                                        <th style="text-align:center;">Ven thành : <a target="_blank" style="color:#ff6a00;font-weight:bold;font-style:italic;" href="/Patient/?Environment=@((int)CaiThuocLa.Utility.Environment_vi_VN.Ven_đô)">@Model.NumEnvironmentSubUrban người</a></th>
                                                        <th style="text-align:center;">Nông thôn : <a target="_blank" style="color:#ff6a00;font-weight:bold;font-style:italic;" href="/Patient/?Environment=@((int)CaiThuocLa.Utility.Environment_vi_VN.Nông_thôn)">@Model.NumEnvironmentCountrySide người</a></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                            titleChart = "Environment";
                                            <script type="text/javascript">
                                                $(function () {
                                                    $('#container').highcharts({
                                                        chart: {
                                                            plotBackgroundColor: null,
                                                            plotBorderWidth: null,
                                                            plotShadow: false
                                                        },
                                                        title: {
                                                            text: 'Môi trường'
                                                        },
                                                        tooltip: {
                                                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                                        },
                                                        plotOptions: {
                                                            pie: {
                                                                allowPointSelect: true,
                                                                cursor: 'pointer',
                                                                dataLabels: {
                                                                    enabled: true,
                                                                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                                                    style: {
                                                                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        series: [{
                                                            type: 'pie',
                                                            name: 'Phần trăm/tổng số',
                                                            data: [
                                                                ['Đô thị', @Model.NumEnvironmentUrban],
                                                                ['Ven đô', @Model.NumEnvironmentSubUrban],
                                                                ['Nông thôn', @Model.NumEnvironmentCountrySide]
                                                            ]
                                                        }]
                                                    });
                                                });
                                            </script>
                                        }
                                        else if (Model.ReportType == CaiThuocLa.Utility.ReportType_vi_VN.Mức_độ_nghiện)
                                        {
                                            <table class="table table-striped table-hover dataTable">
                                                <thead>
                                                    <tr role="row">
                                                        <th style="text-align:center;">Nặng : <a target="_blank"  style="color:#ff6a00;font-weight:bold;font-style:italic;" href="/Patient/?AddictionLevel=@((int)CaiThuocLa.Utility.AddictionLevel_vi_VN.Nặng)">@Model.NumAddictionLevelHeavy người</a></th>
                                                        <th style="text-align:center;">Vừa : <a target="_blank"  style="color:#ff6a00;font-weight:bold;font-style:italic;" href="/Patient/?AddictionLevel=@((int)CaiThuocLa.Utility.AddictionLevel_vi_VN.Vừa)">@Model.NumAddictionLevelMedium người</a></th>
                                                        <th style="text-align:center;">Nhẹ : <a target="_blank"  style="color:#ff6a00;font-weight:bold;font-style:italic;" href="/Patient/?AddictionLevel=@((int)CaiThuocLa.Utility.AddictionLevel_vi_VN.Nhẹ)">@Model.NumAddictionLevelMild người</a></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                            <script type="text/javascript">
                                                $(function () {
                                                    $('#container').highcharts({
                                                        chart: {
                                                            plotBackgroundColor: null,
                                                            plotBorderWidth: null,
                                                            plotShadow: false
                                                        },
                                                        title: {
                                                            text: 'Mức độ nghiện'
                                                        },
                                                        tooltip: {
                                                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                                        },
                                                        plotOptions: {
                                                            pie: {
                                                                allowPointSelect: true,
                                                                cursor: 'pointer',
                                                                dataLabels: {
                                                                    enabled: true,
                                                                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                                                    style: {
                                                                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        series: [{
                                                            type: 'pie',
                                                            name: 'Số lượng/tổng số',
                                                            data: [
                                                                ['Nặng', @Model.NumAddictionLevelHeavy],
                                                                ['Vừa', @Model.NumAddictionLevelMedium],
                                                                ['Nhẹ', @Model.NumAddictionLevelMild]
                                                            ]
                                                        }]
                                                    });
                                                });
                                            </script>
                                        }
                                        else
                                        {
                                            @("Không có dữ liệu thống kê")
                                        }
                                    </div>
                                    
                                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                        <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


