﻿@model string
@{
    Layout = null;
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="form4" role="form" action="/ConfigWeb/_Edit" method="post">
                        <div class="form-group">
                            <h3>Cấu hình</h3>
                            <div class="input-icon right">
                                <textarea id="Content" name="Content" class="form-control" style="width:500px;">@ViewBag.Content</textarea>
                            </div>
                        </div>
                        @Html.Hidden("Type", Model)
                        <div class="form-group text-center">
                            <button class="btn btn-danger" onclick="javascript:$('#form4').parsley('validate');">Cập nhật</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>