﻿@model Dictionary<string[], string>

@{

    var exportUrl = "/ConfigWeb/ProcessExport/?" + Request.QueryString;
    int count = 0;
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading bg-red">
                <h3 class="panel-title"><strong>Danh các cấu hình</strong></h3>
            </div>
            <div class="panel-body modal-panel">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <table class="table table-striped table-hover dataTable">
                            <thead>
                                <tr role="row">
                                    <th style="text-align:center;">STT</th>
                                    <th style="text-align:center;">Tên cấu hình</th>
                                    <th style="text-align:center;">Nội dung</th>
                                    <th style="text-align:center;">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in Model)
                                {
                                    <tr>
                                        <td style="text-align:center;">@(++count)</td>
                                        <td style="text-align:center;">@i.Value</td>
                                        <td style="text-align:center;">@i.Key[1]</td>
                                        <td style="text-align:center;">
                                            <a class="fancybox fancybox.ajax" href="/ConfigWeb/_Edit?Type=@i.Key[0]" title="Sửa cấu hình" style="background:#57BEC7;padding:5px;"><i class="glyphicon glyphicon-pencil"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
