﻿@using CaiThuocLa.Code
@using CaiThuocLa.Utility
@model CaiThuocLa.Models.SurveyModel

@{
    Layout = "";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="form4" role="form" action="/Survey/Add" method="post">
                        <div class="form-group">
                            <label class="control-label">Tên khảo sát</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.SurveyName, new { @class = "form-control", style = "width:500px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Keyword</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.SurveyKeyword, new { @class = "form-control", style = "width:500px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Trạng thái</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.EnumDropDownListFor(model => model.Status, null, "", new { @class = "form-control" }, new string[] { SurveyStatus_vi_VN.Đã_xóa.ToString() })
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <button class="btn btn-danger" onclick="javascript:$('#form4').parsley('validate');">Thêm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
