﻿@using CaiThuocLa.Code
@using CaiThuocLa.Utility
@model CaiThuocLa.Models.SurveyModel
@{

    var exportUrl = "/Survey/ProcessExport/?" + Request.QueryString;
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading bg-red">
                <h3 class="panel-title"><strong>Thư viện Khảo sát</strong></h3>
            </div>
            <div class="panel-body modal-panel">
                <div class="row">
                    <div class="col-md-12">
                        @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
                        {
                            <div class="col-md-12" style="background-color:#5EBD33; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; color: #fff;">
                                @ViewBag.SuccessMessage
                            </div>
                        }
                        @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
                        {
                            <div class="col-md-12" style="background-color:#ff0000; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; color: #fff;">
                                @ViewBag.ErrorMessage
                            </div>
                        }
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Tìm kiếm</strong></h3>
                            </div>
                            <div class="panel-body" style="padding-top:10px;padding-bottom:10px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form id="form4" role="form" class="icon-validation" method="post">
                                            <div class="form-group">
                                                <label class="control-label">Tên Khảo sát</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.TextBoxFor(model => model.SurveyName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Keyword</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.TextBoxFor(model => model.SurveyKeyword, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Trạng thái</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @{
                                                        Dictionary<string, string> addAllStatus = new Dictionary<string, string>();
                                                        addAllStatus.Add("Tất cả", 0.ToString());
                                                    }
                                                    @Html.EnumDropDownListFor(model => model.Status, addAllStatus, "", new { @class = "form-control" }, new string[] { SurveyStatus_vi_VN.Đã_xóa.ToString() })
                                                </div>
                                            </div>
                                            <div class="form-group text-center">
                                                <button class="btn btn-danger" onclick="javascript:$('#form4').parsley('validate');">Tìm kiếm</button>
                                                <button type="reset" class="btn btn-default">Làm mới</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <a href="/Survey/Add" class="btn btn-danger fancybox fancybox.ajax" title="Thêm bài khảo sát">Thêm mới</a>
                        @Html.Partial("~/Views/Shared/Pager.cshtml", Model.Paging)<br /><br />
                        <table class="table table-striped table-hover dataTable">
                            <thead>
                                <tr role="row">
                                    <th style="text-align:center;">STT</th>
                                    <th style="text-align:center;">Tên khảo sát</th>
                                    <th style="text-align:center;">Keyword</th>
                                    <th style="text-align:center;">Tham gia</th>
                                    <th style="text-align:center;">Trạng thái</th>
                                    <th style="text-align:center;">Số câu hỏi</th>
                                    <th style="text-align:center;">Ngày tạo</th>
                                    <th style="text-align:center;">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.DataList != null && Model.DataList.Count() > 0)
                                {
                                    foreach (CaiThuocLa.DTO.Survey i in Model.DataList)
                                    {
                                        <tr>
                                            <td style="text-align:center;">@i.ExtentionProperty["RowNum"]</td>
                                            <td style="text-align:center;">@i.SurveyName</td>
                                            <td style="text-align:center;">@i.SurveyKeyword</td>
                                            <td style="text-align:center;">@i.ExtentionProperty["ReceivedCount"]</td>
                                            <td style="text-align:center;">@CaiThuocLa.Utility.GFunction.EnumDisplay(typeof(CaiThuocLa.Utility.SurveyStatus_vi_VN).FullName, i.Status, "vi_VN")</td>
                                            <td style="text-align:center;">@i.ExtentionProperty["Total"]</td>
                                            <td style="text-align:center;">@String.Format("{0:dd/MM/yyyy HH:mm:ss}", i.CreatedDate)</td>
                                            <td style="text-align:center;">
                                                <a class="fancybox fancybox.ajax" href="SurveyQuestion/_SurveyQuestionPatial?pid=@i.ID" title="Xem danh sách câu hỏi" style="background:#57BEC7;padding:5px;"> <i class="glyphicon glyphicon-list-alt"></i></a>&nbsp;
                                                <a class="fancybox fancybox.ajax" href="SurveyQuestion/AddPatial?pid=@i.ID" title="Thêm câu hỏi" style="background:#57BEC7;padding:5px;"> <i class="glyphicon glyphicon-plus"></i></a>&nbsp;
                                                @*<a class="fancybox fancybox.ajax" href="@Url.Action("SendQuestion", new { id = i.ID, surveyName = i.SurveyName })" title="Gửi khảo sát cho người tham gia" style="background:#57BEC7;padding:5px;"> <i class="glyphicon glyphicon-share-alt"></i></a>*@&nbsp;
                                                <a class="fancybox fancybox.ajax" href="/Survey/Edit/?id=@i.ID" title="Chỉnh sửa" style="background:#57BEC7;padding:5px;"> <i class="glyphicon glyphicon-pencil"></i></a>&nbsp;
                                                <a href="/Survey/Delete/?id=@i.ID" title="Xóa" style="background:#57BEC7;padding:5px;" onclick="return confirm('Bạn có chắc sẽ xóa dữ liệu này?');"><i class="glyphicon glyphicon-remove-sign"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        @Html.Partial("~/Views/Shared/Pager.cshtml", Model.Paging)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>