﻿@using CaiThuocLa.Code
@model CaiThuocLa.Models.SurveyExtenalModel

@{
    Layout = "";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="form4" role="form" action="/Survey/SendQuestion" method="post">
                        <div class="form-group text-center">
                            <label class="control-label" style=" font-size:14pt; font-weight:bold">@Model.SurveyName</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" style=" font-size:14pt; font-weight:bold">Danh sách các câu hỏi: </label>
                            @if (Model.QuestionList.Count > 0)
                            {
                                 foreach(var i in Model.QuestionList)
                                 {
                                     <br /><label class="control-label" style=" font-size:14pt;">@i.Question</label>
                                 }
                            }
                            else
                            {
                                <label class="control-label" style=" font-size:14pt; font-weight:bold">Chưa có câu hỏi nào của Khảo sát này.</label>
                            }
                        </div>
                        <div class="form-group">
                            <label class="control-label">Số điện thoại</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", style = "width:500px;" })
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.SurveyID)
                        <div class="form-group text-center">
                            <input type="button" class="btn btn-danger" onclick="SubmitSend();" value="Gửi khảo sát" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function SubmitSend() {
        var phoneNumber = $("#PhoneNumber").val();
        $.getJSON("/api/SurveyApi/CheckForSendQuestion", { "phoneNumber": phoneNumber }, function (data) {
            if(!data.Allow)
            {
                if (!confirm(data.Exception + " Bạn có muốn tiếp tục?"))
                    return;
            }
            $("#form4").submit();
        })
    }
</script>