﻿@using CaiThuocLa.Code
@model List<CaiThuocLa.DTO.SurveyQuestion>

@{
    Layout = "";
    int indexRow = 0;
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                    <table class="table table-striped table-hover dataTable">
                        <thead>
                            <tr role="row">
                                <th style="text-align:center;">STT</th>
                                <th style="text-align:center;">Thứ tự gửi</th>
                                <th style="text-align:center;">Câu hỏi</th>
                                <th style="text-align:center;">Câu trả lời 1</th>
                                <th style="text-align:center;">Câu trả lời 2</th>
                                <th style="text-align:center;">Câu trả lời 3</th>
                                <th style="text-align:center;">Câu trả lời 4</th>
                                <th style="text-align:center;">Trạng thái</th>
                                <th style="text-align:center;">Ngày tạo</th>
                                <th style="text-align:center;">Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (var i in Model)
                                {
                                    <tr>
                                        <td style="text-align:center;">@(++indexRow)</td>
                                        <td style="text-align:center;">@i.QuestionContinueID</td>
                                        <td style="text-align:center;">@i.Question</td>
                                        <td style="text-align:center;">@i.Answers1</td>
                                        <td style="text-align:center;">@i.Answers2</td>
                                        <td style="text-align:center;">@i.Answers3</td>
                                        <td style="text-align:center;">@i.Answers4</td>
                                        <td style="text-align:center;">@i.Status</td>
                                        <td style="text-align:center;">@String.Format("{0:dd/MM/yyyy HH:mm:ss}", i.CreatedDate)</td>
                                        <td style="text-align:center;">
                                            <a class="fancybox fancybox.ajax" href="/SurveyQuestion/EditPatial?id=@i.ID" title="Chỉnh sửa" style="padding:5px;"> <i class="glyphicon glyphicon-pencil"></i></a>&nbsp;
                                            <a href="/SurveyQuestion/DeletePatial?id=@i.ID" title="Xóa" style="padding:5px;" onclick="return confirm('Bạn có chắc sẽ xóa dữ liệu này?');"><i class="glyphicon glyphicon-remove-sign"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
