﻿@using CaiThuocLa.Code
@using CaiThuocLa.Utility
@model CaiThuocLa.Models.SurveyQuestionModel

@{
    Layout = "";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="form4" role="form" action="@Url.Action("Add", "SurveyQuestion", new { url = Request.QueryString["url"] })" method="post">
                        <div class="form-group">
                            <label class="control-label">Câu hỏi</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.Question, new { @class = "form-control", style = "width:500px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Câu trả lời 1</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.Answers1, new { @class = "form-control", style = "width:500px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Câu trả lời 2</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.Answers2, new { @class = "form-control", style = "width:500px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Câu trả lời 3</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.Answers3, new { @class = "form-control", style = "width:500px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Câu trả lời 4</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.Answers4, new { @class = "form-control", style = "width:500px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Trạng thái</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.EnumDropDownListFor(model => model.Status, null, "", new { @class = "form-control" }, new string[] { SurveyQuestionStatus.Đã_xóa.ToString() })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Thứ tự gửi</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.QuestionContinueID, new { @class = "form-control", style = "width:500px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Khảo sát</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @if(!String.IsNullOrEmpty(Model.returnUrl))
                                { 
                                    @Html.DropDownList("SurveyID", (SelectList)ViewBag.SurveyList, new { @class = "form-control" ,  @disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.DropDownList("SurveyID", (SelectList)ViewBag.SurveyList, new { @class = "form-control" })
                                }
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.ID)
                        @Html.HiddenFor(model => model.returnUrl)
                        @Html.HiddenFor(model => model.SurveyID)
                        <div class="form-group text-center">
                            <button class="btn btn-danger" onclick="javascript:$('#form4').parsley('validate');">Thêm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
