﻿@using CaiThuocLa.Code
@using CaiThuocLa.Utility
@model CaiThuocLa.Models.SmsInteractModel

@{
    Layout = "";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="form4" role="form" action="/SmsInteract/Add" method="post">
                        <div class="form-group">
                            <label class="control-label">Từ khóa</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.Keyword, new { @class = "form-control", style = "width:500px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Nội dung trả về</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.ReplyMessage, new { @class = "form-control", style = "width:500px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Câu hỏi liên kết</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.SmsID, new { @class = "form-control", style = "width:500px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Loại liên kết</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.EnumDropDownListFor(model => model.TypeRelateID, null, "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Trạng thái</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.EnumDropDownListFor(model => model.SmsInteractStatus, null, "", new { @class = "form-control" }, new string[] { SmsInteractStatus.Đã_Xóa.ToString() })
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.ID)
                        <div class="form-group text-center">
                            <button class="btn btn-danger" onclick="javascript:$('#form4').parsley('validate');">Cập nhật</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
