﻿@using CaiThuocLa.Code

@{
    Layout = "";
    string chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="form4" role="form" action="/SmsInteract/ImportFile" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="control-label">Tên cột Từ khóa trong Excel (Vd: A, B, C, D...)</label>
                            <div class="input-icon right">
                                <input type="text" list="listKeywordIndex" class="form-control" style="width:500px;" name="keywordIndex" id="keywordIndex" />
                                <datalist id="listKeywordIndex">
                                    @for (int i = 0; i < chars.Length; i++)
                                    {
                                        <option value="@chars[i]" />
                                    }
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tên cột Nội dung trong Excel (Vd: A, B, C, D...)</label>
                            <div class="input-icon right">
                                <input list="listMessageIndex" type="text" class="form-control" style="width:500px;" name="replyMessageIndex" id="replyMessageIndex" />
                                <datalist id="listMessageIndex">
                                    @for (int i = 0; i < chars.Length; i++)
                                    {
                                        <option value="@chars[i]" />
                                    }
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tên cột SMS ID trong Excel (Vd: A, B, C, D...)</label>
                            <div class="input-icon right">
                                <input list="listSmsIndex" type="text" class="form-control" style="width:500px;" name="smsIndex" id="smsIndex" />
                                <datalist id="listSmsIndex">
                                    @for (int i = 0; i < chars.Length; i++)
                                    {
                                        <option value="@chars[i]" />
                                    }
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tên cột Loại liên kết trong Excel (Vd: A, B, C, D...)</label>
                            <div class="input-icon right">
                                <input list="listTypeRelateIDIndex" type="text" class="form-control" style="width:500px;" name="typeRelateIDIndex" id="typeRelateIDIndex" />
                                <datalist id="listTypeRelateIDIndex">
                                    @for (int i = 0; i < chars.Length; i++)
                                    {
                                        <option value="@chars[i]" />
                                    }
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Vị trí Sheet (Bắt đầu từ: 0)</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input list="listSheetIndex" type="text" class="form-control" style="width:500px;" name="sheetIndex" id="sheetIndex" />
                                <datalist id="listSheetIndex">
                                    @for (int i = 0; i <= 10; i++)
                                    {
                                        <option value="@i">Sheet@(i + 1)</option>
                                    }
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Dòng đầu tiên là tên cột?</label>
                            <div class="input-icon right">
                                <input type="checkbox" name="firstRowIsColumnNames" id="firstRowIsColumnNames" onchange="this.value = $(this).prop('checked');" value="false" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Chọn File</label>
                            <div class="input-icon right">
                                <input type="file" class="form-control" style="width:500px;" name="importFile" id="importFile" />
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-danger" onclick="javascript:$('#form4').parsley('validate');">Thêm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
