﻿@using CaiThuocLa.Code
@using CaiThuocLa.Utility
@model CaiThuocLa.Models.SmsInteractModel
@{

    var exportUrl = "/SmsInteract/ProcessExport/?" + Request.QueryString;
}


<script type="text/javascript">
    $(function () {
        $.getJSON("/SMS/SearchSMS", function (data) {
            $("#ContentSMS").autocomplete({
                source: data
            });
        })
    });
</script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading bg-red">
                <h3 class="panel-title"><strong>Thư viện Từ khóa</strong></h3>
            </div>
            <div class="panel-body modal-panel">
                <div class="row">
                    <div class="col-md-12">
                        @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
                        {
                            <div class="col-md-12" style="background-color:#5EBD33; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; color: #fff;">
                                @ViewBag.SuccessMessage
                            </div>
                        }
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Tìm kiếm</strong></h3>
                            </div>
                            <div class="panel-body" style="padding-top:10px;padding-bottom:10px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form id="form4" role="form" class="icon-validation" method="post">
                                            <div class="form-group">
                                                <label class="control-label">Từ khóa</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.TextBoxFor(model => model.Keyword, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Nội dung trả về</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.TextBoxFor(model => model.ReplyMessage, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Câu hỏi liên kết</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input id="ContentSMS" name="ContentSMS" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Trạng thái</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @{
                                                        Dictionary<string, string> addAllStatus = new Dictionary<string, string>();
                                                        addAllStatus.Add("Tất cả", 0.ToString());
                                                    }
                                                    @Html.EnumDropDownListFor(model => model.SmsInteractStatus, addAllStatus, "", new { @class = "form-control" }, new string[] { SmsInteractStatus.Đã_Xóa.ToString() })
                                                </div>
                                            </div>
                                            <div class="form-group text-center">
                                                <button class="btn btn-danger" onclick="javascript:$('#form4').parsley('validate');">Tìm kiếm</button>
                                                <button type="reset" class="btn btn-default">Làm mới</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <a href="/SmsInteract/ImportFile" class="btn btn-danger fancybox fancybox.ajax" title="Thêm dữ liệu từ File">Thêm mới từ File (Excel)</a>
                        <a href="/SmsInteract/Add" class="btn btn-danger fancybox fancybox.ajax" title="Thêm mới Tứ khóa">Thêm mới</a>
                        <a href="/SmsInteractLog" class="btn btn-danger">Xem danh sách đã gửi</a>
                        @Html.Partial("~/Views/Shared/Pager.cshtml", Model.Paging)<br /><br />
                        <table class="table table-striped table-hover dataTable">
                            <thead>
                                <tr role="row">
                                    <th style="text-align:center;">STT</th>
                                    <th style="text-align:center;">ID</th>
                                    <th style="text-align:center;">Từ khóa</th>
                                    <th style="text-align:center;">Nội dung trả về</th>
                                    <th style="text-align:center;">Số lần nhắn</th>
                                    <th style="text-align:center;">Trạng thái</th>
                                    <th style="text-align:center;">Ngày tạo</th>
                                    <th style="text-align:center;">Câu_hỏi</th>
                                    <th style="text-align:center;">Loại liên kết</th>
                                    <th style="text-align:center;">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.DataList != null && Model.DataList.Count() > 0)
                                {
                                    foreach (CaiThuocLa.DTO.SmsInteract i in Model.DataList)
                                    {
                                        <tr>
                                            <td style="text-align:center;">@i.ExtentionProperty["RowNum"]</td>
                                            <td style="text-align:center;">@i.ID</td>
                                            <td style="text-align:center;">@i.Keyword</td>
                                            <td style="text-align:center;">@i.ReplyMessage</td>
                                            <td style="text-align:center;">@i.ExtentionProperty["ReceivedCount"]</td>
                                            <td style="text-align:center;">@CaiThuocLa.Utility.GFunction.EnumDisplay(typeof(CaiThuocLa.Utility.SmsInteractStatus).FullName, i.SmsInteractStatus, "")</td>
                                            <td style="text-align:center;">@String.Format("{0:dd/MM/yyyy HH:mm:ss}", i.CreatedDate)</td>
                                            <td style="text-align:center;">
                                                <a class="fancybox fancybox.ajax" href="/SMS/_ViewLinkSMS/?SmsID=@i.SmsID&SmsInteractID=@i.ID" title="Sửa câu hỏi liên kết" style="background:#57BEC7;padding:5px;"><i class="glyphicon glyphicon-list-alt"></i></a>
                                                @if (i.SmsID != 0)
                                                {
                                                    if(i.TypeRelateID == TypeRelateID.Tin_nhắn)
                                                    {
                                                        <a class="fancybox fancybox.ajax" href="/SMS/_ViewSMS/?id=@i.SmsID" title="Xem câu hỏi liên kết" style="background:#57BEC7;padding:5px;"><i class="glyphicon glyphicon-zoom-in"></i></a>
                                                    }
                                                    else if (i.TypeRelateID == TypeRelateID.Từ_khóa)
                                                    {
                                                        <a class="fancybox fancybox.ajax" href="/SmsInteract/_ViewSmsInteractRelate/?id=@i.SmsID" title="Xem câu hỏi liên kết" style="background:#57BEC7;padding:5px;"><i class="glyphicon glyphicon-zoom-in"></i></a>
                                                    }
                                                }
                                            </td>
                                            <td style="text-align:center;">@CaiThuocLa.Utility.GFunction.EnumDisplay(typeof(CaiThuocLa.Utility.TypeRelateID).FullName, i.TypeRelateID, "")</td>
                                            <td style="text-align:center;">
                                                <a class="fancybox fancybox.ajax" href="/SmsInteract/Edit/?id=@i.ID" title="Chỉnh sửa" style="background:#57BEC7;padding:5px;"><i class="glyphicon glyphicon-pencil"></i></a>&nbsp;
                                                <a href="/SmsInteract/Delete/?id=@i.ID" title="Xóa" style="background:#57BEC7;padding:5px;" onclick="return confirm('Bạn có chắc sẽ xóa dữ liệu này?');"><i class="glyphicon glyphicon-remove-sign"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        @Html.Partial("~/Views/Shared/Pager.cshtml", Model.Paging)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
