﻿@{
    Layout = null;
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="form4" role="form" action="/AssortPatient/Export" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="control-label">Từ ngày</label>
                            <div class="input-icon right">
                                <input type="date" class="form-control" style="width:500px;" name="StartDate" id="StartDate" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Đến ngày</label>
                            <div class="input-icon right">
                                <input type="date" class="form-control" style="width:500px;" name="EndDate" id="EndDate" />
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-danger" onclick="javascript:$('#form4').parsley('validate');">Xuất File</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
