﻿@using CaiThuocLa.Code
@using CaiThuocLa.Utility
@model CaiThuocLa.Models.AssortPatientModel
@{

    var exportUrl = "/AssortPatient/ProcessExport/?" + Request.QueryString;
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading bg-red">
                <h3 class="panel-title"><strong>Phân loại người cai nghiện</strong></h3>
            </div>
            <div class="panel-body modal-panel">
                <div class="row">
                    <div class="col-md-12">
                        @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
                        {
                            <div class="col-md-12" style="background-color:#5EBD33; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; color: #fff;">
                                @ViewBag.SuccessMessage
                            </div>
                        }
                        @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
                        {
                            <div class="col-md-12" style="background-color:#ff0000; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; color: #fff;">
                                @ViewBag.ErrorMessage
                            </div>
                        }
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Tìm kiếm</strong></h3>
                            </div>
                            <div class="panel-body" style="padding-top:10px;padding-bottom:10px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form id="form4" role="form" class="icon-validation" method="post">
                                            <div class="form-group">
                                                <label class="control-label">Điện thoại</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Khảo sát</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.DropDownList("SurveyID", (SelectList)ViewBag.SurveyList, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            @*<div class="form-group">
                                                <label class="control-label">Mức độ</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @{
                                                        Dictionary<string, string> addAllType = new Dictionary<string, string>();
                                                        addAllType.Add("Tất cả", 0.ToString());
                                                    }
                                                    @Html.EnumDropDownListFor(model => model.AssortType, addAllType, "vi_VN", new { @class = "form-control" })
                                                </div>
                                            </div>*@
                                            <div class="form-group">
                                                <label class="control-label">Hiện trạng</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @{
                                                        Dictionary<string, string> addAllStatus = new Dictionary<string, string>();
                                                        addAllStatus.Add("Tất cả", 0.ToString());
                                                    }
                                                    @Html.EnumDropDownListFor(model => model.Status, addAllStatus, "", new { @class = "form-control" }, new string[] { AssortPatientStatus.Đã_Xóa.ToString() })
                                                </div>
                                            </div>
                                            <div class="form-group text-center">
                                                <button class="btn btn-danger" onclick="javascript:$('#form4').parsley('validate');">Tìm kiếm</button>
                                                <button type="reset" class="btn btn-default">Làm mới</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <a href="/AssortPatient/Export" class="btn btn-danger fancybox fancybox.ajax" title="Xuất dữ liệu ra File">Xuất dữ liệu ra File (Excel)</a>
                        @Html.Partial("~/Views/Shared/Pager.cshtml", Model.Paging)<br /><br />
                        <table class="table table-striped table-hover dataTable">
                            <thead>
                                <tr role="row">
                                    <th style="text-align:center;">STT</th>
                                    <th style="text-align:center;">Họ và tên</th>
                                    <th style="text-align:center;">Điện thoại</th>
                                    <th style="text-align:center;">Khảo sát</th>
                                    <th style="text-align:center;">Hiện trạng</th>
                                    <th style="text-align:center;">Đã trả lời</th>
                                    <th style="text-align:center;">Ngày</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.DataList != null && Model.DataList.Count() > 0)
                                {
                                    foreach (CaiThuocLa.DTO.AssortPatient i in Model.DataList)
                                    {
                                        <tr>
                                            <td style="text-align:center;">@i.ExtentionProperty["RowNum"]</td>
                                            <td style="text-align:center;">@i.ExtentionProperty["PatientName"]</td>
                                            <td style="text-align:center;">@i.PhoneNumber</td>
                                            <td style="text-align:center;">@i.ExtentionProperty["SurveyName"]</td>
                                            <td style="text-align:center;">@CaiThuocLa.Utility.GFunction.EnumDisplay(typeof(CaiThuocLa.Utility.AssortPatientStatus).FullName, i.Status, "")</td>
                                            <td style="text-align:center;">@i.AnswersCount câu</td>
                                            <td style="text-align:center;">@String.Format("{0:dd/MM/yyyy HH:mm:ss}", i.UpdatedDate)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        @Html.Partial("~/Views/Shared/Pager.cshtml", Model.Paging)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>