﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMS Cercon | Admin</title>

    <!-- Latest compiled and minified CSS -->
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!-- Optional theme -->
    <link href="~/Content/bootstrap/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/dashboard.css" rel="stylesheet" />

    @*DataTableJQ*@
    <link href="~/Content/DataTables-1.10.9/media/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.9/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.9/extensions/Select/css/select.dataTables.css" rel="stylesheet" />
    
    <link href="~/Content/fancyBox/source/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/fancyBox/source/helpers/jquery.fancybox-buttons.css" rel="stylesheet" />
    <link href="~/Content/fancyBox/source/helpers/jquery.fancybox-thumbs.css" rel="stylesheet" />

    @RenderSection("style", required: false)

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://cercon.vn/">
                    <h3 style="color:#fff; margin:0px; font-weight:bold; text-shadow: 0px 0px 8px #fff;">SMS Cercon</h3>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://admin.fibosms.com/" target="_blank">Fibosms</a></li>
                    <li><a href="/Card/Index?typecard=1">Quản lý Cercon</a></li>
                    <li><a href="/Card/Index?typecard=2">Quản lý Zolid</a></li>
                    <li><a class="fancybox fancybox.ajax" href="/Account/ShowChangePassword">Đổi mật khẩu</a></li>
                    <li><a href="/Account/LogOff">Đăng xuất</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 main" style="padding:15px;">
                @RenderBody()
            </div>
        </div>
    </div>



    @*Lib Js*@
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Content/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/url.js"></script>

    @*Fancybox*@
    <script src="~/Content/fancyBox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <script src="~/Content/fancyBox/source/jquery.fancybox.js"></script>
    <script src="~/Content/fancyBox/source/helpers/jquery.fancybox-media.js"></script>
    <script src="~/Content/fancyBox/source/helpers/jquery.fancybox-buttons.js"></script>
    <script src="~/Content/fancyBox/source/helpers/jquery.fancybox-thumbs.js"></script>
    <script src="~/Content/fancyBox/FancyBox.js"></script>

    @*DataTable Jquery*@
    <script src="~/Content/DataTables-1.10.9/media/js/jquery.dataTables.js"></script>
    <script src="~/Content/DataTables-1.10.9/extensions/Buttons/js/buttons.html5.js"></script>
    <script src="~/Content/DataTables-1.10.9/extensions/Buttons/js/dataTables.buttons.js"></script>
    <script src="~/Content/DataTables-1.10.9/extensions/Buttons/js/buttons.colVis.js"></script>
    <script src="~/Content/DataTables-1.10.9/CreateDatatable.js"></script>
    <script src="~/Content/DataTables-1.10.9/extensions/Select/js/dataTables.select.js"></script>

    @RenderSection("scripts", required: false)</body>
</html>
