﻿@{
    Layout = "";
}
@using CaiThuocLa.Code
@model CaiThuocLa.Models.LibraryModel

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="form4" role="form" action="/Library/Add" method="post">
                        <div class="form-group">
                            <label class="control-label">Tên thư viện</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.LibraryName, new { @class = "form-control", style = "width:500px;" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="control-label">Loại thư viện</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.EnumDropDownListFor(model => model.LibraryType, null, "vi_VN", new { @class = "form-control" })
                            </div>
                        </div>*@
                        <div class="form-group text-center">
                            <button class="btn btn-danger" onclick="javascript:$('#form4').parsley('validate');">Thêm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
