﻿@{
    Layout = "";
}
@using CaiThuocLa.Code
@model CaiThuocLa.Models.SmsLibraryModel

<script type="text/javascript">
    $(document).ready(function () {
        $('.add-action').click(function () {
            var smsId = $('#SmsID').val();
            var libraryid = $('#LibraryID').val();
            var sentDate = $('#SentDate').val();
            var sendingTime = $('#SendingTime').val();
            $.ajax({
                type: 'POST',
                url: '/Library/AjaxAddSms',
                data: 'smsid=' + smsId + '&libraryid=' + libraryid + '&sentDate=' + sentDate + '&sendingTime=' + sendingTime,
                success: function (response) {
                    alert(response);
                },
                error: function () {
                }
            });
        });
    });
</script>

<div class="col-md-12" style="width:500px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="form4" role="form" action="/Library/AddSms" method="post">
                        <div class="form-group">
                            <label class="control-label">Nội dung SMS</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.DropDownList("SmsID", (SelectList)ViewBag.SmsList, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Số ngày / giờ gửi</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.TextBoxFor(model => model.SentDate, new { @class = "form-control col-md-12", style = "width:280px;" })&nbsp;@Html.TextBoxFor(model => model.SendingTime, new { @class = "form-control", @style = "width:120px;" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="control-label">Giờ gửi</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @{
                                    Dictionary<string, string> defaultTimeUnit = new Dictionary<string, string>();
                                    defaultTimeUnit.Add("Đơn vị tính", 0.ToString());
                                }
                                @Html.TextBoxFor(model => model.SendingTime, new { @class = "form-control", @style = "width:280px;" })&nbsp;
                                @Html.EnumDropDownListFor(model => model.TimeUnit, defaultTimeUnit, "", new { @class = "form-control", @style = "width:120px;" })
                            </div>
                            
                        </div>*@
                        @Html.HiddenFor(model => model.LibraryID)
                        <div class="form-group text-center">
                            <a class="btn btn-danger add-action">Thêm</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


