﻿@using CaiThuocLa.Code
@model CaiThuocLa.Models.LibraryModel
@{

    var exportUrl = "/Library/ProcessExport/?" + Request.QueryString;
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading bg-red">
                <h3 class="panel-title"><strong>Thư viện tin nhắn</strong></h3>
            </div>
            <div class="panel-body modal-panel">
                <div class="row">
                    <div class="col-md-12">
                        @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
                        {
                            <div class="col-md-12" style="background-color:#5EBD33; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; color: #fff;">
                                @ViewBag.SuccessMessage
                            </div>
                        }
                        @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
                        {
                            <div class="col-md-12" style="background-color:#ff0000; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; color: #fff;">
                                @ViewBag.ErrorMessage
                            </div>
                        }
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Tìm kiếm</strong></h3>
                            </div>
                            <div class="panel-body" style="padding-top:10px;padding-bottom:10px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form id="form4" role="form" class="icon-validation" method="post">
                                            <div class="form-group">
                                                <label class="control-label">Tên thư viện</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.TextBoxFor(model => model.LibraryName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Trạng thái</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @{
                                                        Dictionary<string, string> addAllStatus = new Dictionary<string, string>();
                                                        addAllStatus.Add("Tất cả", 0.ToString());
                                                        List<string> removeList = new List<string>();
                                                        removeList.Add(CaiThuocLa.Utility.LibraryStatus_vi_VN.Đã_xóa.ToString());
                                                    }

                                                    @Html.EnumDropDownListFor(model => model.LibraryStatus, addAllStatus, "vi_VN", new { @class = "form-control" }, removeList)
                                                </div>
                                            </div>
                                            @*<div class="form-group">
                                                <label class="control-label">Loại thư viện</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.EnumDropDownListFor(model => model.LibraryType, null, "vi_VN", new { @class = "form-control" }, removeList)
                                                </div>
                                            </div>*@
                                            <div class="form-group text-center">
                                                <button class="btn btn-danger" onclick="javascript:$('#form4').parsley('validate');">Tìm kiếm</button>
                                                <button type="reset" class="btn btn-default">Làm mới</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <a href="/Library/Add" class="btn btn-danger fancybox fancybox.ajax">Thêm mới</a>
                        @Html.Partial("~/Views/Shared/Pager.cshtml", Model.Page)<br /><br />
                        <table class="table table-striped table-hover dataTable">
                            <thead>
                                <tr role="row">
                                    <th style="text-align:center;">STT</th>
                                    <th style="text-align:center;">Tên thư viện</th>
                                    <th style="text-align:center;">Số tin SMS</th>
                                    <th style="text-align:center;">Trạng thái</th>
                                    <th style="text-align:center;">Ngày tạo</th>
                                    <th style="text-align:center;">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.DataList != null && Model.DataList.Count() > 0)
                                {
                                    foreach (CaiThuocLa.DTO.Library library in Model.DataList)
                                    {
                                        <tr>
                                            <td style="text-align:center;">@library.ExtentionProperty["RowNum"]</td>
                                            <td style="text-align:center;">@library.LibraryName</td>
                                            <td style="text-align:center;">@library.NumberOfSMS</td>
                                            <td style="text-align:center;">@CaiThuocLa.Utility.GFunction.EnumDisplay(typeof(CaiThuocLa.Utility.LibraryStatus_vi_VN).FullName, library.LibraryStatus, "vi_VN")</td>
                                            <td style="text-align:center;">@String.Format("{0:dd/MM/yyyy HH:mm:ss}", library.CreatedDate)</td>
                                            <td style="text-align:center;">
                                                <a class="fancybox fancybox.ajax" href="/Library/ImportSms/?lid=@library.ID" title="Nhập sms từ file" style="background:#57BEC7;padding:5px;"> <i class="glyphicon glyphicon-hdd"></i></a>
                                                <a class="fancybox fancybox.ajax" href="/Library/AddSms/?lid=@library.ID" title="Thêm SMS" style="background:#57BEC7;padding:5px;"> <i class="glyphicon glyphicon-plus"></i></a>
                                                @*@if (library.LibraryStatus != CaiThuocLa.Utility.LibraryStatus_vi_VN.Đã_kích_hoạt)
                                                {
                                                    <a onclick="return confirm('Khi kích hoạt thư viện toàn bộ bệnh nhân trong thư viện sẽ được lập lịch gửi tin. Các tin nhắn được bổ sung vào sau hoặc bệnh nhân được bổ sung sau ngày kích hoạt sẽ không nhận được tin nhắn từ hệ thống.')"  href="/Library/Active/?lid=@library.ID" title="Kích hoạt thư viện" style="background:#57BEC7;padding:5px;"> <i class="glyphicon glyphicon-check"></i></a>
                                                }*@
                                                <a class="fancybox fancybox.ajax" href="/Library/ViewSmsInLibrary/?lid=@library.ID" title="Xem danh sách Sms" style="background:#57BEC7;padding:5px;"> <i class="glyphicon glyphicon-list-alt"></i></a>
                                                <a class="fancybox fancybox.ajax" href="/Library/Edit/?lid=@library.ID" title="Chỉnh sửa" style="background:#57BEC7;padding:5px;"> <i class="glyphicon glyphicon-pencil"></i></a>
                                                <a href="/Library/Delete/?lid=@library.ID" title="Xóa" style="background:#57BEC7;padding:5px;" onclick="return confirm('Bạn có chắc sẽ xóa dữ liệu này?');"><i class="glyphicon glyphicon-remove-sign"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        @Html.Partial("~/Views/Shared/Pager.cshtml", Model.Page)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>