﻿@{
    ViewBag.Title = "ViewSmsInLibrary";
    int i = 1;
    Layout = "";
}
@model CaiThuocLa.Models.SmsLibraryModel

<script type="text/javascript">
    $(document).ready(function () {

        $('.remove-sms').click(function () {
            if (confirm("Bạn có chắc muốn xóa"))
            {
                var slid = $(this).attr('slid');
                $(this).hide();
                $.ajax({
                    type: 'POST',
                    url: '/Library/AjaxDeleteSms/',
                    data: 'slid=' + slid,
                    success: function (response) {
                        alert(response);
                    },
                    error: function () {
                    }
                });
            }
        });
    });
</script>

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
    <table class="table table-striped table-hover dataTable">
        <thead>
            <tr role="row">
                <th style="text-align:center;">STT</th>
                <th style="text-align:center;">SMS ID</th>
                <th style="text-align:center;">Tin nhắn</th>
                <th style="text-align:center;">Thời gian</th>
                <th style="text-align:center;">Trạng thái</th>
                <th style="text-align:center;">Hành động</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.DataList != null && Model.DataList.Count() > 0)
            {
                foreach (CaiThuocLa.DTO.SmsLibrary sms in Model.DataList)
                {
                    <tr>
                        <td style="text-align:center;">@i</td>
                        <td style="text-align:center;">@sms.SmsID</td>
                        <td style="text-align:center;">@sms.ExtentionProperty["Message"]</td>
                        <td style="text-align:center;">Vào lúc @sms.SendingTime giờ @sms.SentMinute phút @sms.SentDate ngày sau khi kích hoạt</td>
                        <td style="text-align:center;">@CaiThuocLa.Utility.GFunction.EnumDisplay(typeof(CaiThuocLa.Utility.SmsLibraryStatus_vi_VN).FullName, sms.Status, "vi_VN")</td>
                        <td style="text-align:center;">
                            @*<a href="#" class="fancybox fancybox.ajax"  title="Xóa" style="padding:5px;"><i class="glyphicon glyphicon-edit"></i></a>*@
                            <a href="#delete" class="remove-sms" slid="@sms.ID" title="Xóa" style="padding:5px;"><i class="glyphicon glyphicon-remove-sign"></i></a>
                        </td>
                    </tr>
                   i++;
                }
            }
        </tbody>
    </table>
</div>

