﻿@model DAL.Object.Card
@using Cercon.App_Code;

@{
    ViewBag.Title = "Cập nhật Thẻ";
    Layout = "";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="form4" role="form" method="post">
                        <div class="form-group">
                            <label class="control-label">Mã thẻ</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.CardNo, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tên bệnh nhân</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.CardName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Bác sĩ</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.Doctor, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Ngày hết hạn</label>
                            <div class="input-icon right">
                                @Html.EditorFor(model => model.Valid)
                                <script>
                                    $("#Valid").addClass("form-control");
                                    //$("#Valid").attr({ 'style': 'width:400px;' });
                                </script>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Phòng khám</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.Lab, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Trên trái</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.TopLeft, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Trên phải</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.TopRight, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Dưới trái</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.BottomLeft, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Dưới phải</label>
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.BottomRight, new { @class = "form-control" })
                            </div>
                        </div>
                        @Html.Hidden("Id")
                        @Html.Hidden("TypeCard")
                        <div class="form-group text-center">
                            <input id="btnAddUpdate" type="submit" class="btn btn-primary form-control" value="Cập nhật" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#form4").submit(function (event) {
            event.preventDefault();
            $.fancybox.close();

            $.ajax({
                type: "POST",
                url: "/Card/AddUpdate",
                data: $("#form4").serialize(), // serializes the form's elements.
                success: function (data) {
                    ShowMesage(data);
                    ReDrawDataTable();
                },
                error: function(){
                    $.fancybox.hideLoading();
                    ShowMesage({ "Result": false, "Message": "Không kết nối Server" });
                }
            });

            $.fancybox.showLoading();
            ShowMessage(null);
        });
    });
</script>
