﻿@{
    Layout = "";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="form4" role="form" method="post">
                        <div class="form-group">
                            <label>Ngày bắt đầu</label>
                            <input type="date" name="StartDate" id="StartDate" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Ngày kết thúc</label>
                            <input type="date" name="EndDate" id="EndDate" class="form-control" />
                        </div>
                        @Html.Hidden("TypeCard")
                        <div class="form-group">
                            <input type="submit" value="Xuất file" class="btn btn-primary form-control" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#form4").submit(function (event) {

            event.preventDefault();
            $.fancybox.close();

            $.ajax({
                type: "POST",
                url: "/Card/ExportData",
                data: $("#form4").serialize(), // serializes the form's elements.
                success: function (data) {
                    $.fancybox.hideLoading();
    
                    if (!ShowMesage(data)) {
                        window.open(data);
                    }
                },
                error: function (data) {
                    $.fancybox.hideLoading();
                    ShowMesage({ "Result": false, "Message": "Không kết nối Server" });
                    console.log(data);
                }
            });

            $.fancybox.showLoading();
            ShowMesage(null);
        });
    });
</script>