﻿@{
    ViewBag.Title = "Card | Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section style{
    <style>
        td.details-control {
            background: url('../Content/DataTables-1.10.9/media/images/details_open.png') no-repeat center center; cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('../Content/DataTables-1.10.9/media/images/details_close.png') no-repeat center center;
        }
    </style>
}

<h3 class="page-header"><span class="icon-glyphs glyphicon glyphicon-th-list"></span> @ViewBag.TitleCard</h3>
<div class="well">
    <div class="row">
        <div class="col-md-12 mSuccess" hidden="hidden" style="background-color: #5EBD33; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; color: #fff; box-shadow: 0px 0px 5px #060606;">@ViewBag.SuccessMessage</div>
        <div class="col-md-12 mError" hidden="hidden" style="background-color: #ff0000; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; color: #fff; box-shadow: 0px 0px 5px #060606;">@ViewBag.ErrorMessage</div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading" style="font-size:14pt; font-weight:bold;">
                Danh sách thẻ @ViewBag.TitleCard
            </div>
            <div class="panel-body">
                <table id="example" class="display" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ext</th>
                            <th>Mã thẻ</th>
                            <th>Tên bệnh nhân</th>
                            <th>Bác sĩ</th>
                            <th>Ngày hết hạn</th>
                            <th>Phòng khám</th>
                            <th>Chức năng</th>
                            <th>Id</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Ext</th>
                            <th>Mã thẻ</th>
                            <th>Tên bệnh nhân</th>
                            <th>Bác sĩ</th>
                            <th>Ngày hết hạn</th>
                            <th>Phòng khám</th>
                            <th>Chức năng</th>
                            <th>Id</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="panel-footer">@ViewBag.TitleCard</div>
        </div>
    </div>
</div>

<a id="AddCard" style="display:none" title="Thêm bệnh nhân" class="fancybox fancybox.ajax" href="/Card/Add?typecard=@(String.IsNullOrEmpty(Request.QueryString["typecard"]) ? "1" : Request.QueryString["typecard"])">AddCard</a>
<a id="ImportCardFile" style="display:none" title="Thêm dữ liệu từ File Excel" class="fancybox fancybox.ajax" href="/Card/ShowImportFile?typecard=@(String.IsNullOrEmpty(Request.QueryString["typecard"]) ? "1" : Request.QueryString["typecard"])">Import Card File</a>
<a id="ExportCardData" style="display:none" title="Xuất dữ liệu bệnh nhân" class="fancybox fancybox.ajax" href="/Card/ShowExportData?typecard=@(String.IsNullOrEmpty(Request.QueryString["typecard"]) ? "1" : Request.QueryString["typecard"])">Import Card File</a>

@section scripts{
    <script>
        $.fancybox.showLoading();

        function ShowMesage(data) //Hiện ra thông báo cập nhật thành công hay thất bại
        {
            $('.mSuccess').attr({ 'hidden': 'hidden' });
            $('.mError').attr({ 'hidden': 'hidden' });

            try
            {
                var tmp = data.Result;
                if (tmp.toString() == 'undefined')
                {
                    return false;
                }
            }
            catch(err)
            {
                return false;
            }

            if (data != null && data != '') {
                if (data.Result) {
                    $('.mSuccess').removeAttr('hidden');
                    $('.mSuccess').text(data.Message);
                }
                else {
                    $('.mError').removeAttr('hidden');
                    $('.mError').text(data.Message)
                }

                return true;
            }
            return false;
        }

        var table = null;
        function GenDataTable() {
            //Show Message
            if ($('.mSuccess').text().trim() != '') {
                $('.mSuccess').removeAttr('hidden');
            }

            if ($('.mError').text().trim() != '') {
                $('.mError').removeAttr('hidden');
            }

            //Show DataTableJQ
            var typecard = url('?typecard') == null ? 1 : url('?typecard');

            var arrColumns = [
                {
                    "className": 'details-control dt-head-center dt-body-center',
                    "orderable": false,
                    "data": null,
                    "defaultContent": ''
                },
                { "data": "CardNo", "className": "dt-head-center dt-body-center", "styleName": "font-size:9pt" },
                { "data": "CardName", "className": "dt-head-center dt-body-left dt-body-nowrap" },
                { "data": "Doctor", "className": "dt-head-center dt-body-right dt-body-nowrap" },
                { "data": "Valid", "className": "dt-head-center dt-body-center" },
                { "data": "Lab", "className": "dt-head-center dt-body-right" },
                { "data": null, "className": "dt-body-center dt-head-center" },
                { "data": "Id", "visible": false }
            ];

            var contentAction = [{
                "targets": [6],
                "data": null,
                "render": function (data, type, full, meta) {
                    return '<a class="btn btn-default fancybox fancybox.ajax" href="/Card/Update?typeCard=' + typecard + '&Id=' + data.Id + '" style="width:24px; height:24px;" title="Sửa thẻ bệnh nhân"><span style="top:-4px; left:-6px;" class="icon-glyphs glyphicon glyphicon-pencil"></span></a>'
                           + '<div class="btn btn-default deleteRow" cardId="' + data.Id + '" cardNo="' + data.CardNo + '" style="width:24px; height:24px; margin-left:3px;" title="Xóa thẻ bệnh nhân"><span style="top:-3px; left:-8px;" class="icon-glyphs glyphicon glyphicon-trash"></span></div>';
                }
            }];

            var arrButton = [
            {
                text: 'Ẩn/Hiện cột',
                extend: 'colvis',
                collectionLayout: 'fixed two-column'
            },
            {
                text: 'Chọn tất cả',
                action: function () {
                    table.rows().select();
                }
            },
            {
                text: 'Bỏ chọn',
                action: function () {
                    table.rows().deselect();
                }
            },
            {
                text: 'Xóa',
                action: function () {

                    var tmpTitle = typecard == 1 ? "Cercon" : "Zolid";

                    if (!confirm("Cảnh báo!!! bạn nên Export toàn bộ dữ liệu trước khi xóa nhiều dòng " + tmpTitle + ".\r\n Bạn có muốn tiếp tục xóa???"))
                        return;

                    if (!confirm("Xác nhận xóa nhiều dòng trong " + tmpTitle + "?"))
                        return;

                    var arrId = [];
                    var arrData = table.rows('.selected').data();

                    for(x in arrData)
                    {
                        var idTmp = arrData[x].Id;
                        if (isNaN(idTmp))
                            break;
                        arrId += idTmp + "|";
                    }

                    $.ajax({
                        type: "POST",
                        url: "/Card/DeleteMore",
                        data: { arrId: arrId },
                        success: function (data) {
                            ShowMesage(data);
                            ReDrawDataTable();
                        },
                        error: function () {
                            $.fancybox.hideLoading();
                            ShowMesage({ "Result": false, "Message": "Không kết nối Server" });
                        }
                    });

                    $.fancybox.showLoading();
                    ShowMesage(null);
                }
            },
            {
                text: 'Thêm mới',
                action: function (e, dt, node, config) {
                    $("#AddCard").click();
                }
            },
            {
                text: 'Thêm từ Excel',
                action: function (e, dt, node, config) {
                    $("#ImportCardFile").click();
                }
            }, {
                text: 'Xuất dữ liệu',
                action: function (e, dt, node, config) {
                    $("#ExportCardData").click();
                }
            },
            {
                text: 'Xóa tất cả',
                action: function () {
                    if (!confirm("Bạn muốn xóa tất cả?"))
                        return;

                    var tmpTitle = typecard == 1 ? "Cercon" : "Zolid";

                    if (!confirm("Cảnh báo!!! bạn nên Export toàn bộ dữ liệu trước khi xóa tất cả " + tmpTitle + ".\r\n Bạn có muốn tiếp tục xóa???"))
                        return;

                    if (!confirm("Xác nhận xóa tất cả trong " + tmpTitle))
                        return;

                    $.ajax({
                        type: "POST",
                        url: "/Card/DeleteAll",
                        data: { TypeCard: typecard },
                        success: function (data) {
                            ShowMesage(data);
                            ReDrawDataTable();
                        },
                        error: function () {
                            $.fancybox.hideLoading();
                            ShowMesage({ "Result": false, "Message": "Không kết nối Server" });
                        }
                    });

                    $.fancybox.showLoading();
                    ShowMesage(null);
                }
            }
            ];


            var ajaxValue = {
                "url": "/Card/GetFilter",
                "type": "POST",
                "data": { "typeCard": typecard }
            };

            table = CreateDataTableJ(ajaxValue, arrColumns, "Mã thẻ, Tên bệnh nhân, Bác sĩ", contentAction, arrButton);

            table.on('draw', function () { //Khi tạo xong table
                $.fancybox.hideLoading();
            });

            table.on('click', '.deleteRow', function () {
                if (!confirm("Bạn muốn xóa Thẻ: " + $(this).attr('cardNo') + '?'))
                    return;

                $.ajax({
                    type: "POST",
                    url: "/Card/Delete",
                    data: { "Id": $(this).attr('cardId') },
                    success: function (data) {
                        ShowMesage(data);
                        ReDrawDataTable();
                    },
                    error: function () {
                        $.fancybox.hideLoading();
                        ShowMesage({ "Result": false, "Message": "Không kết nối Server" });
                    }
                });

                $.fancybox.showLoading();
                ShowMesage(null);
            });

            function format(d) {

                var genColumns = '';
                genColumns += d.TopLeft == null || d.TopLeft == '' ? '' : '<td>Trên trái: <span style="font-weight:bold;">' + d.TopLeft + '</span></td>';
                genColumns += d.TopRight == null || d.TopRight == '' ? '' : '<td>Trên phải: <span style="font-weight:bold;">' + d.TopRight + '</span></td>';
                genColumns += d.BottomLeft == null || d.BottomLeft == '' ? '' : '<td>Dưới trái: <span style="font-weight:bold;">' + d.BottomLeft + '</span></td>';
                genColumns += d.BottomRight == null || d.BottomRight == '' ? '' : '<td>Dưới phải: <span style="font-weight:bold;">' + d.BottomRight + '</span></td>';

                // `d` is the original data object for the row
                return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                    '<tr>' + genColumns == '' ? '<td>Không có</td>' : genColumns + '</tr>'
                '</table>';
            }

            table.on('click', 'td.details-control', function () {
                var classTmp = $(this).closest('tr').attr('class');
                $(this).closest('tr').attr({ 'class': classTmp.replace('selected','') })

                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
        }

        $(document).ready(function () {
            GenDataTable();
        });

        function ReDrawDataTable() {
            table.ajax.reload(function (json) {
                $.fancybox.hideLoading();
            }, false);
        };
    </script>
}