﻿@model System.Data.DataTable
@using System.Data

@{
    ViewBag.Title = "Import | Result";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section style{
    <style>
        td.details-control {
            background: url('../Content/DataTables-1.10.9/media/images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('../Content/DataTables-1.10.9/media/images/details_close.png') no-repeat center center;
        }
    </style>
}




<h3 class="page-header"><span class="icon-glyphs glyphicon glyphicon-th-list"></span> Kết quả Import: @ViewBag.TitleCard</h3>
<div class="well">
    <div class="row">
        <div class="col-md-12 mSuccess" hidden="hidden" style="background-color: #5EBD33; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; color: #fff; box-shadow: 0px 0px 5px #060606;">@ViewBag.SuccessMessage</div>
        <div class="col-md-12 mError" hidden="hidden" style="background-color: #ff0000; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; color: #fff; box-shadow: 0px 0px 5px #060606;">@ViewBag.ErrorMessage</div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading" style="font-size:14pt; font-weight:bold;">
                Danh sách không Import được vào @ViewBag.TitleCard
            </div>
            <div class="panel-body">
                <table id="example" class="display" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ext</th>
                            <th>Mã thẻ</th>
                            <th>Tên bệnh nhân</th>
                            <th>Bác sĩ</th>
                            <th>Ngày hết hạn</th>
                            <th>Phòng khám</th>
                            <th>Loại lỗi</th>
                            <th>aa</th>
                            <th>bb</th>
                            <th>cc</th>
                            <th>dd</th>
                            <th>NoteError</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow r in Model.Rows)
                        {
                            <tr>
                                <td></td>
                                <td>@r["CardNo"].ToString()</td>
                                <td>@r["CardName"].ToString()</td>
                                <td>@r["Doctor"].ToString()</td>
                                <td>@r["Valid"].ToString()</td>
                                <td>@r["Lab"].ToString()</td>
                                <td>@r["TypeError"].ToString()</td>
                                <td>@r["TopLeft"].ToString()</td>
                                <td>@r["TopRight"].ToString()</td>
                                <td>@r["BottomLeft"].ToString()</td>
                                <td>@r["BottomRight"].ToString()</td>
                                <td>@r["NoteError"].ToString()</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Ext</th>
                            <th>Mã thẻ</th>
                            <th>Tên bệnh nhân</th>
                            <th>Bác sĩ</th>
                            <th>Ngày hết hạn</th>
                            <th>Phòng khám</th>
                            <th>Loại lỗi</th>
                            <th>aa</th>
                            <th>bb</th>
                            <th>cc</th>
                            <th>dd</th>
                            <th>NoteError</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="panel-footer">Import @ViewBag.TitleCard</div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $.fancybox.showLoading();

        var table = null;
        function GenDataTable() {
            //Show DataTableJQ
            var typecard = url('?typecard') == null ? 1 : url('?typecard');

            var arrButton = [
            {
                text: 'Ẩn/Hiện cột',
                extend: 'colvis',
                collectionLayout: 'fixed two-column'
            }];

            var arrColumns = [
                {
                    "className": "details-control dt-head-center dt-body-center",
                    "orderable": false,
                    "data": null,
                    "defaultContent": ''
                },
                { "data": "CardNo", "className": "dt-head-center dt-body-center", "styleName": "font-size:9pt" },
                { "data": "CardName", "className": "dt-head-center dt-body-left dt-body-nowrap" },
                { "data": "Doctor", "className": "dt-head-center dt-body-right dt-body-nowrap" },
                { "data": "Valid", "className": "dt-head-center dt-body-center" },
                { "data": "Lab", "className": "dt-head-center dt-body-right" },
                { "data": "TypeError", "className": "dt-head-center dt-body-left" },
                { "data": "TopLeft", "visible": false },
                { "data": "TopRight", "visible": false },
                { "data": "BottomLeft", "visible": false },
                { "data": "BottomRight", "visible": false },
                { "data": "NoteError", "visible": false }
            ];

            table = $("#example").DataTable({
                "processing": true,
                "scrollX": true,
                "scrollY": "450px",
                "scrollCollapse": true,
                "pagingType": "full_numbers",
                "language": {
                    "decimal": "",
                    "emptyTable": "Không tải được dữ liệu",
                    "info": "Từ _START_ đến _END_ (tổng: _TOTAL_ dòng)",
                    "infoEmpty": "từ 0 dến 0 (tổng: 0 dòng)",
                    "infoFiltered": "(Tìm trong _MAX_ tổng dòng)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Hiện _MENU_ dòng",
                    "loadingRecords": "Loading...",
                    "processing": "Processing...",
                    "search": "Tìm kiếm: ",
                    "zeroRecords": "Không tìm thấy",
                    "paginate": {
                        "first": "<<",
                        "last": ">>",
                        "next": ">",
                        "previous": "<"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                },
                "dom": 'B<"row">fr<"clear">ltip',
                "buttons": arrButton,
                "order": [[6, "asc"]],
                "columns": arrColumns,
            });

            function format(d) {

                var genColumns = '';
                genColumns += d.TopLeft == null || d.TopLeft == '' ? '' : '<td>Trên trái: <span style="font-weight:bold;">' + d.TopLeft + '</span></td>';
                genColumns += d.TopRight == null || d.TopRight == '' ? '' : '<td>Trên phải: <span style="font-weight:bold;">' + d.TopRight + '</span></td>';
                genColumns += d.BottomLeft == null || d.BottomLeft == '' ? '' : '<td>Dưới trái: <span style="font-weight:bold;">' + d.BottomLeft + '</span></td>';
                genColumns += d.BottomRight == null || d.BottomRight == '' ? '' : '<td>Dưới phải: <span style="font-weight:bold;">' + d.BottomRight + '</span></td>';
                genColumns += d.NoteError == null || d.NoteError == '' ? '' : '<td>Nội dung lỗi: <span style="font-weight:bold;">' + d.NoteError + '</span></td>';

                // `d` is the original data object for the row
                return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                    '<tr>' + genColumns == '' ? '<td>Không có</td>' : genColumns + '</tr>'
                '</table>';
            }

            table.on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
        }

        $(document).ready(function () {
            GenDataTable();
            $.fancybox.hideLoading();
        });
    </script>
}