﻿<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading bg-red">
                <h3 class="panel-title"><strong>HỆ THỐNG SMS HỔ TRỢ NGƯỜI CAI NGHIỆN THUỐC LÁ</strong></h3>
            </div>
            <div class="panel-body" style="min-height:600px;">
                <div class="row">
                    <img src="~/Content/themes/intel/img/caithuocla_banner.jpg" style="width:500px;height:335px;" />&nbsp;
                    <img src="~/Content/themes/intel/img/caithuocla_banner2.jpg" style="width:500px;height:335px;" />
                </div>
                <div class="row" style="text-align:center;font-size:30pt;font-weight:bold;color:#ff6a00;padding-top:40px;padding-bottom:20px;">
                    HỆ THỐNG ĐƯỢC PHÁT TRIỂN BỞI <a href="http://fibo.vn">FIBO.VN</a>
                </div>
            </div>
        </div>
    </div>
</div>